<section class="forms-container">
  <div class="headingSection">
    <h2>Lista de Serviços</h2>
    <app-tooltip-button [tooltipText]="'Clique para adicionar um novo Serviço'" [tooltipPosition]="'right'"
      [icon]="'../../../assets/images/icons8-plus-30.png'" [altText]="'createIcon'" (click)="openDialog(null, 'create')">
    </app-tooltip-button>
  </div>

  <app-loading-spinner *ngIf="isLoading" message="A carregar serviços..."></app-loading-spinner>

  <div *ngIf="!isLoading">
    <div class="cardsContainer" *ngIf="services.length; else noResults">
      <app-card *ngFor="let service of services" [imageUrl]="service.image_url" [title]="service.service_name">
        <div class="card-actions">
          <img src="../../../assets/images/pencil-96.png" class="icon" alt="Edit" (click)="openDialog(service, 'edit')">
          <img src="../../../assets/images/trash-96.png" class="icon" alt="Delete"
            (click)="openDialog(service, 'delete')">
        </div>
      </app-card>
    </div>
    <ng-template #noResults>
      <div class="no-results">
        Nenhum serviço encontrado.
      </div>
    </ng-template>
  </div>

  <app-paginator [length]="totalLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="handlePageEvent($event)" *ngIf="!isLoading"></app-paginator>
</section>
