@import '../../../../styles/_variables.scss';

.timeline ul {
  background-color: $fill-white;
  padding: 50px 0;
  overflow: hidden;
  position: relative;
}

.timeline ul::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 6px;
  background: $main-dark-blue;
  transform: translateX(-50%);
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: $main-dark-blue;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $main-blue;
  z-index: 1;
  transition: background 0.5s ease-in-out;
}

.timeline ul li .timeline-item {
  position: relative;
  bottom: 0;
  width: 400px;
  background: $main-blue;
  color: $fill-white;
  padding: 3em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

// .timeline ul li .timeline-item.expanded {
//   background: $main-dark-blue;
//   transform: scale(1.1);
//   z-index: 10;
// }

.timeline ul li.expanded::after {
  background: $main-dark-blue;
}

.timeline ul li .timeline-item::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) .timeline-item {
  left: 45px;
}

.timeline ul li:nth-child(odd) .timeline-item::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent $main-blue transparent transparent;
}

.timeline ul li:nth-child(odd) .timeline-item.expanded::before {
  border-color: transparent $main-blue transparent transparent;
}

.timeline ul li:nth-child(even) .timeline-item {
  left: -439px;
}

.timeline ul li:nth-child(even) .timeline-item::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent $main-blue;
}

.timeline ul li:nth-child(even) .timeline-item.expanded::before {
  border-color: transparent transparent transparent $main-blue;
}

time {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* EFFECTS */
.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: $main-blue;
}

.timeline ul li .timeline-item {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) .timeline-item {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) .timeline-item {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view .timeline-item {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.notification-details {
  margin-top: 1em;
  padding: 1em;
  background: $main-dark-blue;
  color: $fill-white;
  border-radius: 0.5em;
}

.notification-body h3 {
  margin-top: 1em;
  color: $fill-white;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid $main-blue;
  border-radius: 5px;
  color: $main-blue;
  resize: none;
}

.send-button {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background: $main-blue;
  color: $fill-white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  svg {
    margin-left: 10px;
  }
}

.send-button:hover {
  background: lighten($main-blue, 10%);
}

.loading-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  color: $main-blue;
  margin-block: 1em;
}

.spinner {
  border: 8px solid $secondary-blue;
  border-top: 8px solid $main-blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

.spinner_updateRecord-special {
  width: 25px;
  height: 25px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

@media screen and (max-width: 900px) {
  .timeline ul li .timeline-item {
    width: 250px;
  }

  .timeline ul li:nth-child(even) .timeline-item {
    left: -289px;
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li .timeline-item {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) .timeline-item {
    left: 45px;
  }

  .timeline ul li:nth-child(even) .timeline-item::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent $main-blue transparent transparent;
  }
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;

  &.success {
    background-color: #4caf50;
    color: #fff;
  }

  &.error {
    background-color: #f44336;
    color: #fff;
  }

  &.enter {
    animation: fadeIn 0.5s forwards;
  }

  &.leave {
    animation: fadeOut 0.5s forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}