<!-- <section class="forms-container">
  <div class="loading-circle" *ngIf="isLoading">
    <div class="spinner"></div>
  </div>
  <div class="selectOptionContainer">
    <div class="selectOptionContainer--option __remove-paragraphMB">
      <p>Nome</p>
      <p>Role</p>
      <p>Opções</p>
    </div>

    <div *ngFor="let user of displayedUsers; let i = index; trackBy: trackByIndex"
      class="selectOptionContainer--option">
      <p>{{ user.name }}</p>
      <p>{{ user.roles[0]?.role_name }}</p>
      <div>
        <img src="../../../assets/images/pencil-96.png" class="icon" alt="Edit" (click)="editUser(user)">
        <img src="../../../assets/images/trash-96.png" class="icon" alt="Delete" (click)="removeUser(user.id)">
      </div>
    </div>
  </div>




  <mat-paginator class="mat-paginator" [length]="totalUsers" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)">
  </mat-paginator>
</section> -->

<!-- <section class="forms-container">
  <div class="loading-circle" *ngIf="isLoading">
    <div class="spinner"></div>
  </div>
  <table class="selectOptionTable">
    <thead>
      <tr class="__remove-paragraphMB">
        <th>Nome</th>
        <th>Role</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of displayedUsers; let i = index; trackBy: trackByIndex"
        class="selectOptionContainer--option">
        <td>{{ user.name }}</td>
        <td>{{ user.roles[0]?.role_name }}</td>
        <td>
          <img src="../../../assets/images/pencil-96.png" class="icon" alt="Edit" (click)="editUser(user.id)">
          <img src="../../../assets/images/trash-96.png" class="icon" alt="Delete" (click)="removeUser(user.id)">
        </td>
      </tr>
    </tbody>
  </table>

  <mat-paginator [length]="totalUsers" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)">
  </mat-paginator>
</section> -->


<section class="forms-container">
  <div *ngIf="isLoading" class="loading-circle">
    <div class="spinner"></div>
    <p>A carregar users...</p>
  </div>
  <div *ngIf="!isLoading" class="selectOptionContainer">
    <table class="user-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Role</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of displayedUsers; let i = index; trackBy: trackByIndex">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.roles[0]?.role_name }}</td>
          <td>
            <img src="../../../assets/images/pencil-96.png" class="icon" alt="Edit" (click)="editUser(user)">
            <img src="../../../assets/images/trash-96.png" class="icon" alt="Delete" (click)="removeUser(user.id)">
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator [length]="totalUsers" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</section>
