  <section class=" w-full p-0 gap-4 mx-auto h-[100%] forms-container">
<!--     <div class=" flex headingSection">
      <h2>Lista de Utilizadores</h2>
      <app-tooltip-button [tooltipText]="'Clique para registrar um novo utilizador'" [tooltipPosition]="'right'"
        [icon]="'../../../assets/images/icons8-plus-30.png'" [altText]="'createIcon'" (click)="openDialog(null, 'create')">
      </app-tooltip-button>
    </div>
    <app-loading-spinner *ngIf="isLoading" message="A carregar Utilizadores..."></app-loading-spinner>
    <div *ngIf="!isLoading">
      <div *ngIf="users.length; else noResults">

        <table class="w-[90%] mx-auto user-table rounded-xl">
          
          <thead class="bg-gray-100 sticky top-[-2px] z-10">
            <tr class="headerT">
              <th class="p-2">Nome</th>
              <th class="p-2 sm:px-4 hidden md:table-cell">Email</th>
              <th class="p-2">Role</th>
              <th class="p-2">Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td class="border p-2">{{ user.name }}</td>
                <td class="border p-2 sm:px4 hidden md:table-cell">
                  {{ user.email }}
                </td>
                <td class="border p-2">{{ user.roles[0]?.role_name }}</td>
                <td class="border p-2">
                  <div class=" flex justify-center space-x-4">
                    <img
                    src="../../../assets/images/pencil-96.png"
                    class="w-5 h-5 cursor-pointer"
                    alt="Edit"
                    (click)="openDialog(user, 'edit')"
                  />
                  <img
                    src="../../../assets/images/trash-96.png"
                    class="w-5 h-5 cursor-pointer"
                    alt="Delete"
                    (click)="openDialog(user, 'delete')"
                  />
                  </div>

                </td>
              </tr>
            </tbody>
          </table>
      </div>
      <ng-template #noResults>
        <div class="no-results">
          Nenhum utilizador encontrado.
        </div>
      </ng-template>

    </div>
  </section>
  <app-paginator [length]="totalLength"
  (page)="handlePageEvent($event)"></app-paginator> <!-- *ngIf="!isLoading" -->

