@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';


.forms-container{
    @include forms-container();

    margin-block: 0em;
    border: 10px solid $main-blue;
    background-color: $fill-white;
    width: 100%;
}

.forms-container--inputContainer{
    @include forms-container--inputContainer();
}

.inputContainer--input{
    @include inputContainer--input();
}

.selectOptionContainer--option{
    @include selectOptionContainer--option();
}

.forms-Button{
    @include forms-Button();
    margin-top: 0;
}

.icon{
    @include icon();
}

.__remove-paragraphMB{
    p{
        margin-bottom: 0;
    }
}


/* styles to overide/customize mat-paginator */
mat-paginator {
    background-color: $main-blue; /* Example: customizing button background color */
    color: $fill-white;
    border-radius: 1em;

    
  }

::ng-deep .div.mat-mdc-select-panel{
    border: 1px solid red;
    color:red;
    background-color: $main-blue;
  }

::ng-deep .cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel {
    border: 1px solid $main-dark-blue;
    background-color: $main-blue;
}

::ng-deep .mat-mdc-option.mdc-list-item.ng-tns-c1771602899-1.ng-star-inserted{
    color:$fill-white;
}

::ng-deep .mat-mdc-option.mdc-list-item.ng-tns-c1771602899-1.ng-star-inserted.mat-mdc-option-active{

    background-color: $secondary-blue;
}

::ng-deep .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: $main-dark-blue !important;
}

::ng-deep .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
    cursor: default !important;

}
