@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.headingSection {
  display: flex;
  color: $main-blue;
  justify-content: space-between;
  align-items: center;
}

.table-container {
  @include forms-container();
  margin-block: 0.5em;
  border: 10px solid $main-blue;
  background-color: $fill-white;
  width: 100%;
  overflow-x: auto; // Permite rolagem horizontal se necessário
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  th {
      background-color: $main-blue;
      color: $fill-white;
      padding: 12px;
      font-weight: bold;
    }

    td {

      border-bottom: 1px solid $secondary-blue;
    }

    tr:hover {
      background-color: $secondary-blue;
    }

    .edit-button,
    .delete-button {
      padding: 4px 8px;
      margin-right: 10px;
      border: none;
      background-color: transparent;
      cursor: pointer;

      .icon {
        height: 20px; // Ajuste conforme necessário
        width: auto;
      }
    }
}

//Para n desformatar os users
.p-2{
  padding: 1em;
  width: 28%;
}
