@import "../../../../styles/_variables.scss";
@import "../../../../styles/_mixins.scss";

.blueBG{
  background-color: $main-blue;
}
.whiteBG{
  background-color: $fill-white;
}
.whiteTxt{
  color: $fill-white;
}
.createBtn{
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.5ms ease-in-out;

}
.createBtn:hover{
  background-color: $secondary-blue;
  transform: scale(1.1);
}

.optionBtns{
  transition: transform 0.5ms ease-in-out;

}
.optionBtns:hover{
  transform: scale(1.1);
}




.forms-container{
  box-sizing: border-box;
  background-color: $fill-white;
  border: $main-blue 10px solid;
  height: 100%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  max-height: 62vh;
  overflow-y: scroll;

  &.forms-container__error {
    border: $error-color 10px solid;
  }
  @media (max-width: 600px) {
    overflow-y: visible;
    height: auto;
  }
}


.forms-Button {
  /*   @include forms-Button(); */
  background-color: transparent;
  color: $fill-white;
  border: $fill-white 2px solid;
  text-transform: uppercase;
  cursor: pointer;

  &:active {
    background-color: $fill-white;
    color: $main-blue;
    border: $fill-white 2px solid;
  }
}

.user-table {
/*   border-collapse: collapse; */

  min-width: 100%;
  

  @media (max-width: 600px) {
    max-width: 100%;
  }
  th,
  td {
    border: 1px solid $main-blue;
  }

  th {
    background-color: darken($main-blue, 20);
    color: $fill-white;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: $secondary-blue;
  }

  tr:hover {
    background-color: $secondary-blue;
  }
}

/* Loading circle styles */
.loading-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: $main-blue;
  margin-block: 1em;
}

.spinner {
  border: 8px solid $secondary-blue;
  border-top: 8px solid $main-blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Loading circle styles for blue background!! */
.loading-circle_forBlueBG {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: $fill-white;
  margin-block: 1em;
}

.spinner_forBlueBG {
  border: 8px solid $secondary-blue;
  border-top: 8px solid $fill-white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//modal styles
.modal-container {
  @include forms-container();

  align-items: start;
  width: 60%;
  max-width: 800px;

  @media (max-width: 600px) {
    width: 80%;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $fill-white;

  h2 {
    margin-bottom: 0;
  }
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: $fill-white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

//styles for the paginators
mat-paginator {
  background-color: $main-blue; /* Example: customizing button background color */
  color: $fill-white;
  border-radius: 1em;
}

::ng-deep .div.mat-mdc-select-panel {
  border: 1px solid red;
  color: red;
  background-color: $main-blue;
}

::ng-deep
  .cdk-overlay-pane:not(.mat-mdc-select-panel-above)
  div.mat-mdc-select-panel {
  border: 1px solid $main-dark-blue;
  background-color: $main-blue;
}

::ng-deep .mat-mdc-option.mdc-list-item.ng-tns-c1771602899-1.ng-star-inserted {
  color: $fill-white;
}

::ng-deep
  .mat-mdc-option.mdc-list-item.ng-tns-c1771602899-1.ng-star-inserted.mat-mdc-option-active {
  background-color: $secondary-blue;
}

::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text {
  color: $main-dark-blue !important;
}

::ng-deep
  .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled)
  .mat-mdc-text-field-wrapper {
  cursor: default !important;
}