// @import '../../../../styles/_variables.scss';
// @import '../../../../styles/_mixins.scss';


// .forms-container{
//     @include forms-container();

//     margin-block: 0.5em;
//     border: 10px solid $main-blue;
//     background-color: $fill-white;
//     width: 100%;
// }

// .forms-container--inputContainer{
//     @include forms-container--inputContainer();
// }

// .inputContainer--input{
//     @include inputContainer--input();
// }

// .selectOptionContainer--option{
//     @include selectOptionContainer--option();
// }

// .forms-Button{
//     @include forms-Button();
//     margin-top: 0;
// }

// .icon{
//     @include icon();
// }

// .__remove-paragraphMB{
//     p{
//         margin-bottom: 0;
//     }
// }
@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.forms-container {
    @include forms-container();

    margin-block: 0em;
    border: 10px solid $main-blue;
    background-color: $fill-white;
    width: 100%;
    position: relative;
}

.forms-container--inputContainer {
    @include forms-container--inputContainer();
}

.inputContainer--input {
    @include inputContainer--input();
}

.selectOptionContainer--option {
    @include selectOptionContainer--option();
}

.forms-Button {
    @include forms-Button();
    margin-top: 0;
}

.icon {
    @include icon();
}

.__remove-paragraphMB {
p {
    margin-bottom: 0;
    }   
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;

th, td {
    border: 1px solid $main-blue;
    padding: 8px;
    text-align: left;
}

th {
    background-color: $main-blue;
    color: $fill-white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
    }
}

/* Loading circle styles */
.loading-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: $main-blue;
    margin-block: 1em;
  }
  
  .spinner {
    border: 8px solid $secondary-blue;
    border-top: 8px solid $main-blue; 
    border-radius: 50%;
    width: 50px; 
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }