@import '../../../../styles/_variables.scss';

 :host {
   flex: 1;
   display: flex;
   padding: 1px; //opcional para separar o search-filter do topo

 }


  .tabs {

    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.tab-headers {
    display: flex;
    margin-left: 2em;
    margin-top: 1em;
    overflow: hidden;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    width: 20%;
}

.tab-link {
    color: $fill-white;
    width: 100%;
    background-color: $secondary-blue;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1em;
    transition: 0.3s;

}

.tab-link:hover, .tab-link.active:hover {
    background-color: $darker-main-blue;
}

.tab-link.active {
    background-color: $main-blue;
}
