<section class="forms-container">
    <div class="forms-container--inputContainer">
        <div class="selectContainer">
            <label for="">Indicator:</label>
            <select [(ngModel)]="filter.indicator" name="" id="">
                <option value="">Receive options</option>
            </select>
        </div>

        <div>
            <label>Mês: </label>
            <input [(ngModel)]="filter.month" type="number" id="year" name="year" min="1" max="12" step="1" class="inputContainer--input">
        </div>
        <div>
            <label>Ano: </label>
            <input [(ngModel)]="filter.year"  type="number" id="year" name="year" min="1900" max="2200" step="1" class="inputContainer--input">
        </div>

        <button (click)="emitFilter()" class="forms-Button">Procurar</button>
    </div>
</section>