@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.special{
    display: flex;
    flex-direction: column;
    gap: 0.5em;

}
.forms-container{
    @include forms-container();

    box-sizing: border-box;
    margin-block: 0;
    border: none;
    width: 90%;
}

.forms-container--inputContainer{
    @include forms-container--inputContainer();
    gap: 1em;

    div{
        display: flex;
        align-items: flex-start;
    }
}

.inputContainer--input{
    @include inputContainer--input();
}

.forms-Button{
    @include forms-Button();
    margin-left: auto;
    margin-top: 0;
    width: 15%;
}


.selectContainer{
    color: $fill-white;

    label{
        margin-right: 0.2em;
    }
    select{
        color: $main-blue;
        border-radius: 0.5em;
        padding-block: 0.2em;
        padding-inline: 0.5em;
        border: none;
        outline: $main-blue;
    }
}
