<!-- <section class="forms-container">
    <div class="forms-container--inputContainer">
        <label>User: </label>
        <input type="text" class="inputContainer--input">
        <button class="forms-Button">Procurar</button>
    </div>
</section>
 -->

<!-- user-filter-section.component.html -->
<section class="forms-container">
    <div class="forms-container--inputContainer">
      <label>User: </label>
      <input type="text" class="inputContainer--input" [(ngModel)]="searchTerm" (ngModelChange)="onSearch()">
      <button class="forms-Button" (click)="onSearch()">Procurar</button>
    </div>
  </section>
