@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';


.styled-checkbox {
  width: 20px;
  height: 20px;
  appearance: none;
  background-color: transparent;
  border: 2px solid $main-blue;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.styled-checkbox:checked {
  background-color: $main-blue;
}

.styled-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
