@import '../../../../styles/_variables.scss';
/* @import 'tailwindcss/base';
 */
.test{
  border: solid 2px red
}
.placeholder{
  height: 65px;
}
.whiteBG {
  background-color: $fill-white;
}
.whiteBorder{
  border-bottom: 5px solid $fill-white;
}
.whiteTxt {
  color: $fill-white; 
}
.darkBlueTxt{
  color: $main-dark-blue
}
.underlineHover:hover {
  text-decoration: underline;
}
.scale{
  transition: transform rotate 0.3s ease-in-out;
}
.scale:hover {
  transform: scale(1.2);
}

.logoSection {
  width: auto;
  background-color: transparent;
  color: $main-blue;
}


.background-svg {
  fill: $main-blue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}
.background-svg_adjusted{
  fill: $darker-main-blue;
  position: absolute;
  top: 0;
  left: 60%;
  height: 100%;
  z-index: -1; 
}
.background-svg_adjusted.is-open{
  display: none;
}

.links{
  display: flex;
  align-items: center;
  gap: 3em;
  position: relative;
  padding-right: 1em;
  padding-left: 8em;
  height: 100%;
  z-index: 1; 
}

  @media (min-width:2500px){
    .links{
      padding-left: 12em;
    }
  }
  @media (max-width:640px){
  .links {
    flex-direction: column;
    align-items: end;
    gap: 1em;
    position: absolute;
    top: 0;
    right: 0;
    left: 100%;
    overflow: visible;
    transition: all ease-in-out 250ms; 
    padding: 1em;
    padding-top: 4em;
    margin-left: 2em;
    height: 100vh;
    background-color: $main-dark-blue;
  }  
  .links.is-open{
    left: -30vw; //adjustment to make links go beyond parent container to the left
  }
}

.bellIcon_mobile{
  transform: scale(1.3);
  z-index: 350;
  position: absolute;
  top: 24px;
  right: 60px;

  @media(max-width:780px){
    top: 30px;
  }
  @media(max-width:640px){
    top: 24px;
    right: 27px;
  }
}

/* styles for the notifications */
.unread{
  background-color: $secondary-blue;

}
.unread:hover{
  background-color: $main-blue;
}

/* Estilos para customizar componente de angular material */
::ng-deep {
  .menu-custom {
    background-color: $fill-white !important;
    border: 1px solid $fill-white !important;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1) !important;
    border-radius: 0 !important;
    .mat-menu-item {
      color: $main-dark-blue !important;
    }
  }

  .blue-custom{
    color: $main-dark-blue !important; 
  }
}

/* Hamburguer styles */
.nav-toggle {
  z-index: 325;
  display: block;
  padding: 1em;
  position: absolute;
  right: 50px;
  top: 15px;
  cursor: pointer; }
  @media (min-width: 640px) {
    .nav-toggle {
      display: none; } }

.hamburger, .hamburger::before, .hamburger::after {
  content: '';
  display: block;
  width: 2em;
  height: 3px;
  background: $fill-white;
  transition: all ease-in-out 250ms;

}

.hamburger::before {
  transform: translateY(-6px); }

.hamburger::after {
  transform: translateY(3px); }

.hamburger.is-open {
  transform: rotate(45deg); }
  .hamburger.is-open::after {
    transform: rotate(-90deg) translateX(3px); }
  .hamburger.is-open::before {
    opacity: 0; }

/* 
    .icon-login{
      transform: scale(2);
      margin-right: 0.7em;
    } */

    // Load
.random-demo {
  display: flex;
/*   flex-direction: column; */
  gap:0.5em;

  width: 30%;
  margin: 0 auto;
}
@media (max-width: 640px) {
  .random-demo{
    margin:0;
    margin-right: 2em;
    flex-direction: column;
  }
}

.el {
  width: 50px;
  height: 50px;
  background-color: $main-dark-blue;
  border-radius: 50%;
}

  /* Spinner styles */
  .loading-circle_forBlueBG {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: $fill-white;
    margin-block: 1em;
  }
  
  .spinner_forBlueBG {
    border: 8px solid $secondary-blue;
    border-top: 8px solid $fill-white; 
    border-radius: 50%;
    width: 50px; 
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .forms-container {
    box-sizing: border-box;
    background-color: $main-blue;
    
    &.forms-container__error{
      border: $error-color 7px solid;
    }
    @media (max-width: 640px){
      margin-block: 2em;
      width: 90%;
    }
    }
/* Modal styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal.show {
    display: block;
  }
