
<!-- <div *ngIf="isVisible">
    <h2>safasdas</h2>
    <app-create-field-modal></app-create-field-modal>
</div> -->
<app-create-field-modal [isVisible]="isModalVisible" (closeEvent)="closeModal()">

</app-create-field-modal>


<form action="">
    <div class="forms-container" >
        <h2 class="title">Criar User</h2>
        <button class="forms-Button" (click)="openModal($event)">Adicionar Campo</button>

        
        <div class="forms-container--inputContainer"> 
            <input type="text" class="inputContainer--input" placeholder="Name">
            <span class="errorSpanMessage"></span>
        </div>
        <div class="forms-container--inputContainer"> 
            <input type="text" class="inputContainer--input" placeholder="Email">
            <span class="errorSpanMessage"></span>
        </div>
        <div class="forms-container--inputContainer"> 
            <input type="password" class="inputContainer--input" placeholder="Telefone">
            <span class="errorSpanMessage"></span>
        </div>
        <div class="forms-container--inputContainer"> 
            <input type="text" class="inputContainer--input" placeholder="Password">
            <span class="errorSpanMessage"></span>
        </div>
        <div class="selectContainer">
            <label for="">Role:</label>
            <select name="" id="">
                <option value="">User</option>
                <option value="">Gestor</option>
                <option value="">Admin</option>
            </select>
        </div>

        <button type="submit" class="forms-Button">Atualizar</button>
    </div>
</form>


