.container{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.row {
    display: flex;

    div:last-child {
        margin-inline: 0.5em;
        width: 100%;
    }
}

main {
    flex: 1;
    display: flex;
    position: relative;
}

#toTopIcon {
    --lord-icon-primary: var(--main-dark-blue); /* Correct usage of the CSS variable */
  }

.toTopBtn {
    cursor: pointer;
    right: 50%; 
    bottom: -50px; /* Start from below the viewport */
    transition: bottom 0.5s ease-in-out; /* Smooth transition for moving up */
}

.toTopBtnVisible {
    bottom: 50px !important; /* End position */
}

.toTopBtnHidden {
    bottom: -50px; /* Position when hidden */
}