

/* .row {
    display: flex;


    div:last-child {
        margin-inline: 0.5em;
        width: 100%;
    }
} */

/* .full-w {
    margin-inline: 0.5em;
    width: 100%;
} */

:host {
    flex: 1;
    display: flex;
  }