<div class="p-4 w-[90%] sm:w-[60%] mx-auto my-5 sm:my-20 shadow-md blueBG">
  <div class="flex gap-2 items-center whiteTxt text-xl mb-4">
    Criar Notificação
    <svg matTooltip="Para criar uma nova mensagem, preencha os seguintes campos com informações válidas."
      [matTooltipPosition]="'above'" matTooltipClass="custom" xmlns="http://www.w3.org/2000/svg" height="24px"
      viewBox="0 -960 960 960" width="24px" fill="#fff">
      <path
        d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
    </svg>
  </div>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field class="w-full mb-4 blueBG">
      <mat-label class="blueTxt">Para</mat-label>
      <mat-select [(ngModel)]="selectedUser" name="para" class="blueTxt" required>
        <mat-option *ngFor="let user of users" [value]="user.id">{{ user.email }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-full mb-4">
      <mat-label class="blueTxt">Assunto</mat-label>
      <input matInput [(ngModel)]="subject" name="assunto" required (blur)="validateSubject()">
      <span *ngIf="subjectError" class="errorSpan">{{ subjectError }}</span>
    </mat-form-field>
    <mat-form-field class="w-full mb-4">
      <mat-label class="blueTxt">Mensagem</mat-label>
      <textarea matInput [(ngModel)]="message" name="mensagem" rows="4" required (blur)="validateMessage()"></textarea>
      <span *ngIf="messageError" class="errorSpan">{{ messageError }}</span>
    </mat-form-field>
    <div *ngIf="isLoading" class="loading-circle">
      <div class="spinner spinner_updateRecord-special"></div>
    </div>
    <button mat-raised-button type="submit" class="custom-button" *ngIf="!isLoading"
      [disabled]="subjectError || messageError">Enviar</button>
  </form>
  <app-feedback [message]="feedbackMessage" [type]="feedbackType"></app-feedback>
</div>