<app-create-field-modal [isVisible]="isModalVisible" (closeEvent)="closeModal()"></app-create-field-modal>
<app-feedback [message]="notificationMessage" [type]="notificationType"></app-feedback>

<!-- <form (ngSubmit)="createUser()">
  <div class="forms-container">


    <h2 class="title" *ngIf="formsAction === 'create'">Criar User</h2>
    <h2 class="title" *ngIf="formsAction === 'edit'">Editar User</h2>

    <div class="forms-container--inputContainer" *ngIf="!isLoading || notificationType === 'error'">
      <input type="text" class="inputContainer--input" placeholder="Name" [(ngModel)]="name" name="name" required>
      <span class="errorSpanMessage"></span>
    </div>
    <div class="forms-container--inputContainer" *ngIf="!isLoading || notificationType === 'error'">
      <input type="email" class="inputContainer--input" placeholder="Email" [(ngModel)]="email" name="email" required>
      <span class="errorSpanMessage"></span>
    </div>
    <div class="forms-container--inputContainer" *ngIf="!isLoading || notificationType === 'error'">
      <input type="password" class="inputContainer--input" placeholder="Password" [(ngModel)]="password" name="password" required>
      <span class="errorSpanMessage"></span>
    </div>
    <div class="selectContainer" *ngIf="!isLoading || notificationType === 'error'">
      <label for="role">Role:</label>
      <select id="role" [(ngModel)]="role_id" name="role_id" required>
        <option [value]="3">User</option>
        <option [value]="2" *ngIf="getRole() === 'admin'">Coordenador</option>
        <option [value]="1" *ngIf="getRole() === 'admin'">Admin</option>
      </select>
    </div>
    <button type="submit" class="forms-Button">Adicionar</button>
  </div>

</form> -->



  <div class="p-4 w-[90%] sm:w-[60%] mx-auto my-5 sm:my-20 shadow-md blueBG">


    <h2 class="text-xl mb-4 whiteTxt" *ngIf="formsAction === 'create'">Criar User</h2>
    <h2 class="text-xl mb-4 whiteTxt" *ngIf="formsAction === 'edit'">Editar User</h2>

    <div *ngIf="isLoading" class="loading-circle_forBlueBG">
      <div class="spinner_forBlueBG"></div>
      <p>A criar user...</p>
    </div>

    <form (ngSubmit)="formSubmited()">
      <mat-form-field class="w-full mb-4 blueBG" *ngIf="!isLoading">
        <mat-label class="blueTxt">Nome:</mat-label>
        <input matInput id="nome" [(ngModel)]="user.name" name="name">
      </mat-form-field>
      <mat-form-field class="w-full mb-4" *ngIf="!isLoading">
        <mat-label class="blueTxt">Email:</mat-label>
        <input matInput id="email" [(ngModel)]="user.email" name="email">
      </mat-form-field>
      <mat-form-field class="w-full mb-4"  *ngIf="!isLoading">
        <mat-label class="blueTxt">NIF:</mat-label>
        <input matInput id="password" [(ngModel)]="user.password" name="password">
      </mat-form-field>
      <mat-form-field class="w-full mb-4"  *ngIf="!isLoading">
        <mat-label class="blueTxt">Role do utilizador:</mat-label>
        <mat-select  id="rolePanel" [(ngModel)]="user.role_id" name="role_id">
          <mat-option [value]="3">Utilizador</mat-option>
          <mat-option [value]="2" *ngIf="getRole() === 'admin'">Coordenador</mat-option>
          <mat-option [value]="1" *ngIf="getRole() === 'admin'">Admin</mat-option>
        </mat-select>
      </mat-form-field>
  
      <button *ngIf="!isLoading" mat-raised-button type="submit" class="custom-button">Adicionar</button>
    </form>
  </div>
  


