@import "../../../../styles/_variables.scss";
@import "../../../../styles/_mixins.scss";

.forms-container{
  box-sizing: border-box;
  background-color: $fill-white;
  border: $main-blue 10px solid;

  &.forms-container__error {
    border: $error-color 10px solid;
  }
  @media (max-width: 600px) {
    overflow-y: visible;
    height: auto;
  }
}

// Custom tooltip styles
 ::ng-deep .mat-mdc-tooltip .mdc-tooltip__surface{
  font-size: 1em !important;
}
::ng-deep .custom div{
  padding: 1em;
  background-color: $main-dark-blue !important;
}
::ng-deep .custom div div{
  font-size: 2em;
} 

.blueBG{
  background-color: $main-blue;
}

.whiteTxt{
  color: $fill-white;
}

.icon-large{
 transform: scale(1.3);
}

.scale{
  transition: transform 0.5ms ease-in-out;

}
.scale:hover{
  transform: scale(1.1);
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.5em;
  thead {
    position: sticky;
    top: 0;
    background-color: $main-dark-blue;
    z-index: 1;
    
  }
  th {
    background-color: $main-dark-blue;
    color: $fill-white;
    font-weight: bold;
    padding: 2px;
  }
  td {
    padding: 12px;
    border-bottom: 1px solid $secondary-blue;
  }
  tr:hover {
    background-color: lighten($darker-main-blue, 25%);
  }
}

.scale{
  transition: transform 0.5ms ease-in-out;

}
.scale:hover{
  transform: scale(1.1);
}

.centro{
  margin-top: 25vh !important ; 
}
