// Cores SCSS
$main-blue: #5b8ead;
//#608fad
//5b8ead
$darker-main-blue: #88B8CA;
$main-dark-blue: #283044;
$secondary-blue: #EBF5EE;
$khaki: #BFA89E;
$cinereous: #8B786D;


$error-red: #FE557D;
$main-red: #FF5A5F;
$fill-white: #fff;
$darker-main-red:#b02529;

/* below we assign the global colors to css variables, this way we can expand in the way we use them,
for example to customize colors in lordIcons icons */
:root{
    --main-blue: #{$main-blue};
    --main-dark-blue: #{$main-dark-blue};
    --fill-white: #($fill-white);
}


$primary-color: #70c6d6;
$secondary-color: #f5f5f5;
// $accent-color: #fff;
$accent-color: #fff;
$error-color: #ff6b6b;
$text-color: #333;
$link-color: #007bff;

//border-radius
$input-border-radius: 10px;

// Espaçamentos
$spacing-unit: 8px;

// Fontes
$font-family-base: 'Helvetica Neue', Arial, sans-serif;
$font-size-base: 16px;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Bordas
$border-radius: 5px;
$border-radius-large: 10px;

//imagens
$card-width: 200px;
$card-height: 150px;

//Mensagens de erro e sucess user
$success-color: #28a745; // Cor verde para mensagens de sucesso
$error-color: #dc3545; // Cor vermelha para mensagens de erro
