@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.title {
  color: $fill-white;
  margin: 0;
}

.forms-container {
  /*   @include forms-container(); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  margin: 0 auto;
  margin-block: 7em;
  box-sizing: border-box;
  padding: 2em;
  border-radius: 1em;
  background-color: $main-blue;
  border: $secondary-blue 7px solid;
  width: 50%;
  max-width: 500px;
  
  &.forms-container__error{
    border: $error-color 7px solid;
  }
  @media (max-width: 600px){
    margin-block: 2em;
    width: 80%;
  }
  }

.forms-container--inputContainer {
  @include forms-container--inputContainer();
}

.inputContainer--input {
  @include inputContainer--input();
}

.errorSpanMessage {
  @include errorSpanMessage();
}

.forms-Button {
  @include forms-Button();
}

.selectContainer {
  margin-left: auto;
  color: $fill-white;

  label {
    margin-right: 0.2em;
  }

  select {
    color: $main-blue;
    border-radius: 0.5em;
    padding-block: 0.2em;
    padding-inline: 0.5em;
    border: none;
    outline: $main-blue;
  }
}

.successMessage {
  color: #28a745;
  margin-bottom: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.errorMessage {
  color: #dc3545;
  margin-bottom: 1em;
  margin-bottom: 1em; /* Adiciona margem inferior */
  margin-top: 1em; /* Adiciona margem superior */
}

.justify--end {
  align-self: flex-end;
}

/* Loading circle styles for blue background!! */
.loading-circle_forBlueBG {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: $fill-white;
  margin-block: 1em;
}

.spinner_forBlueBG {
  border: 8px solid $secondary-blue;
  border-top: 8px solid $fill-white; 
  border-radius: 50%;
  width: 50px; 
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Adicione a classe de estilo para ocultar o formulário enquanto estiver carregando */
.loading {
  opacity: 0.5; /* Opacidade reduzida para indicar que está carregando */
  pointer-events: none; /* Desabilita interação com o formulário enquanto está carregando */
}
