@import '../../../../styles/_variables.scss';
/* .row {
    display: flex;

    div:last-child {
        margin-inline: 1.5em;
        width: 100%;
    }
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}
 */
 :host {
    margin-block: 0.5em;
    flex: 1;
    display: flex;
  } @media(max-width:600px){
    :host{
        flex-direction: column;
    }
  }

  
  .tab-headers {
    display: flex;
    width: 30%;
    margin-left: 8em;
    margin-top: 1em;
    overflow: hidden;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
} @media(max-width:600px){
    .tab-headers{
        width: 50%;
        margin-left: 4em;
    }
}

.tab-link {
    color: $fill-white;
    width: 100%;
    background-color: $secondary-blue;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1em;
    transition: 0.3s;

}

.tab-link:hover, .tab-link.active:hover {
    background-color: $darker-main-blue;
}

.tab-link.active {
    background-color: $main-blue;
}