<div>
  <app-menu></app-menu>
</div>
<div class="sm:mx-0 md:mx-1 lg:mx-2 w-full">
  <app-filter [indicatorsInput]="false" [dataInsertedCheckbox]="true" (filterEvent)="handleFilterData($event)"></app-filter>

  <div class="tab-headers">
    <button class="tab-link" [class.active]="selectedTab === 'Records'" (click)="selectTab('Records')">
      Records
    </button>
    <button class="tab-link" [class.active]="selectedTab === 'Metas'" (click)="selectTab('Metas')">
      Metas
    </button>
  </div>
  <div *ngIf="selectedTab === 'Records'">
    <app-records-list-section [indicators]="currentIndicators" [isLoading]="isLoading" [filter]="filter"></app-records-list-section>
  </div>
  <div *ngIf="selectedTab === 'Metas'">
    <app-goals-list-section [indicators]="currentIndicators" [isLoading]="isLoading" [filter]="filter"></app-goals-list-section>
  </div>
</div>
