@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';



.searchBtn{
  cursor: pointer;
  background-color: $fill-white;
}
.searchBtn:hover{
  background-color: $secondary-blue;
}

#searchIcon {
  box-sizing: border-box;
  --lord-icon-primary: var(--main-blue);
}

.txtWhite{
  color: $fill-white;
}

.inputContainer--input {
  box-sizing: border-box;
  color: $main-blue;
  background-color: $fill-white;
  border: solid 2px $main-blue;

  &::placeholder{
    color: $main-blue;
  }
  &:focus{
    outline: none;
    border: none;
    caret-color: $main-blue;
  }
  &:disabled{
    background-color: $secondary-blue;
    border: none;
  }
  &.inputContainer--input__error, .inputContainer--input__error:focus{
    outline: none;
    border: $error-red 2px solid;
    caret-color: $error-red;
    color: $error-red;
  }
  &.inputContainer--input__error::placeholder{
    color: $error-red;
  }
}

.forms-Button {
  background-color: transparent;
  color:  $fill-white;
  border: $fill-white 2px solid;
  text-transform: uppercase;

  cursor: pointer;
  align-self: flex-end; 

  &:active{
    background-color: $fill-white;
    color:  $main-blue;
    border: $fill-white 2px solid;
  }
}
