@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.crossIcon {
    @include cross-icon();
}

.modalBorder{
    border-radius: 1em;
    border: $secondary-blue 7px solid;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    border-bottom: $secondary-blue 4px solid;

    h2 {
        margin: 0;
        margin-bottom: 0.5em;
        color: $fill-white;
        font-size: 1.8em; // Aumentar o tamanho da fonte do título
    }
}

.forms-container {
    @include forms-container();
    align-items: start;
    width: 60%;
    max-width: 800px;
    background-color: $main-blue;
    padding: 2em;
    border-radius: 1em;
    margin: auto;
    margin-top: 5em;
}

.forms-container--inputContainer {
    @include forms-container--inputContainer();
    margin-bottom: 1.5em; // Adicionar espaço entre os inputs
}

.password-container {
    display: flex;
    align-items: center;
    color: $fill-white;
}

.sectionTitle {
    margin-bottom: 0.2em;
    color: $fill-white;
}

.inputContainer--input {
    @include inputContainer--input();
    width: 100%;
    box-sizing: border-box;
    caret-color: $fill-white;
    color: $fill-white;
    background-color: transparent !important; // Remove background color
    border: none;
    border-bottom: $fill-white 2px solid;
}

.inputContainer--input::placeholder {
    color: $fill-white;
}

.inputContainer--input:focus {
    outline: none;
    border: none;
    border-bottom: $fill-white 2px solid;
    caret-color: $fill-white;
}

.inputContainer--input__error {
    border-bottom: $error-red 2px solid;
    caret-color: $error-red;
    color: $error-red;
}

.inputContainer--input__error::placeholder {
    color: $error-red;
}

.errorSpanMessage {
    @include errorSpanMessage();
}

.forms-Button {
    @include forms-Button();
    background-color: transparent;
    color: $fill-white;
    border: $fill-white 2px solid;
    text-transform: uppercase;
    width: 50%;
    padding-block: 0.4em;
    border-radius: 1em;
    cursor: pointer;
    margin-top: 1em;
}

.forms-Button:active {
    background-color: $fill-white;
    color: $main-blue;
    border: $fill-white 2px solid;
}

.errorSpan {
    color: $fill-white; // Altera a cor do feedback para branco
    margin-left: auto;
    margin-top: 1em;
    font-size: 1.2em; // Aumentar o tamanho da fonte para melhor legibilidade
}

// Modal styles
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
    display: block;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: $secondary-blue;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: $main-dark-blue;
    text-decoration: none;
    cursor: pointer;
}

// Spinner styles
.loading-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    color: $main-blue;
    margin-block: 1em;
}

.spinner {
    border: 8px solid $secondary-blue;
    border-top: 8px solid $main-blue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

.spinner_updateRecord-special {
    width: 25px;
    height: 25px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* estilos do angular material */
input {
    color: $main-blue !important;
    caret-color: $main-blue !important;
  }
  textarea {
    color: $main-blue !important;
    caret-color: $main-blue !important;
  }
  ::ng-deep .mat-mdc-form-field-flex {
    background-color: $fill-white !important;
  }
  ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
    background-color: $fill-white !important;
  }
  ::ng-deep
    .mdc-text-field--filled:not(.mdc-text-field--disabled)
    .mdc-line-ripple::after {
    border-color: $main-dark-blue !important;
  }
  .custom-button {
    background-color: $darker-main-blue !important;
    color: $fill-white !important;
    border-color: $main-dark-blue !important;
    &:hover {
      background-color: darken($darker-main-blue, 10%) !important;
    }
  }
  ::ng-deep .mat-mdc-select-min-line {
    color: $main-blue !important;
  }
  ::ng-deep .mat-mdc-select-panel {
    background-color: $darker-main-blue !important;
  }
  .mat-mdc-option {
    background-color: $darker-main-blue !important;
  }
  .mat-mdc-option-active {
    color: $fill-white !important;
  }
  .mat-mdc-option:hover {
    background-color: $main-blue !important;
  }
  ::ng-deep
    .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
    .mdc-list-item__primary-text {
    color: $main-dark-blue !important;
  }
  ::ng-deep .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
    color: $main-dark-blue !important;
  }
  ::ng-deep svg {
    color: $main-blue !important;
  }

  .blueBG {
    background-color: $main-blue;
  }
  .blueTxt {
    color: $main-blue;
  }
  .whiteTxt {
    color: $fill-white;
  }
}

.password-container {
    display: flex;
    align-items: center;
}

.errorSpan {
    color: $fill-white;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}