<div class="modal" [ngClass]="{ 'show': isVisible }" (click)="close()">
    <div class="p-4 w-[90%] sm:w-[60%] mx-auto my-5 sm:my-20 shadow-md blueBG md:max-w-[600px] md:min-h-[400px] modalBorder"
        (click)="$event.stopPropagation()" [ngClass]="{ 'forms-container__error': isError }">
        <div class="modalHeader mb-2">
            <h2 class="modalTitle">Atualizar perfil</h2>
            <span class="close" (click)="close()">&times;</span>
        </div>
        <form (ngSubmit)="formSubmited()">
            <mat-form-field class="w-full mb-4 blueBG">
                <mat-label class="blueTxt">Nome:</mat-label>
                <input matInput id="nome" [(ngModel)]="user.name" name="name" class="" (blur)="validateNameOnBlur()" />
                <span *ngIf="nameError" class="redTxt">{{ nameError }}</span>
            </mat-form-field>
            <mat-form-field class="w-full mb-4">
                <mat-label class="blueTxt">Email:</mat-label>
                <input matInput [(ngModel)]="user.email" name="email" [disabled]="formsAction === 'edit'" class=""
                    (blur)="validateEmailOnBlur()" type="email" />
                <span *ngIf="emailError" class="redTxt">{{ emailError }}</span>
            </mat-form-field>
            <mat-form-field class="w-full mb-4">
                <mat-label class="blueTxt">NIF:</mat-label>
                <input matInput id="nif" [(ngModel)]="user.nif" name="nif" disabled />
            </mat-form-field>

            <div class="forms-container--inputContainer">
                <label class="sectionTitle">Senha atual:</label>
                <mat-form-field class="password-container">
                    <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" [(ngModel)]="currentPassword"
                        name="currentPassword" class="" (input)="validateCurrentPassword()"
                        (blur)="validateCurrentPassword()" (copy)="preventCopyPaste($event)"
                        (cut)="preventCopyPaste($event)" (paste)="preventCopyPaste($event)" />
                </mat-form-field>
                <button mat-icon-button matSuffix (click)="togglePasswordVisibility('current', $event)"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrentPassword" type="button">
                    <mat-icon>{{ hideCurrentPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <span *ngIf="currentPasswordError" class="errorSpan">{{ currentPasswordError }}</span>
            </div>
            <div class="forms-container--inputContainer">
                <label class="sectionTitle">Nova senha (opcional):</label>
                <mat-form-field class="password-container">
                    <input matInput [type]="hideNewPassword ? 'password' : 'text'" [(ngModel)]="newPassword"
                        name="newPassword" class="" (input)="validateNewPassword()" (blur)="validateNewPassword()"
                        (copy)="preventCopyPaste($event)" (cut)="preventCopyPaste($event)"
                        (paste)="preventCopyPaste($event)" />
                </mat-form-field>
                <button mat-icon-button matSuffix (click)="togglePasswordVisibility('new', $event)"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword" type="button">
                    <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <span *ngIf="newPasswordError" class="errorSpan">{{ newPasswordError }}</span>
                <div *ngIf="newPasswordFeedback.length > 0" class="errorSpan">
                    <div *ngFor="let msg of newPasswordFeedback">{{ msg }}</div>
                </div>
            </div>
            <button mat-raised-button *ngIf="!isLoading" type="submit" class="custom-button">Atualizar</button>
            <div *ngIf="isLoading" class="loading-circle">
                <div class="spinner spinner_updateRecord-special"></div>
            </div>
        </form>
        <app-feedback [message]="notificationMessage" [type]="notificationType"></app-feedback>
    </div>
</div>