<div>
    <input type="file" #fileInput style="display: none;" (change)="onFileChange($event)" />
    <button (click)="triggerFileInput()"
        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left">
        <img src="../../../assets/icons/csv.png" height="16" class="inline mr-2" /> Importar {{ importType === 'record'
        ? 'Registros' : 'Metas' }}
        <mat-progress-bar *ngIf="isImporting" mode="indeterminate"></mat-progress-bar>
    </button>
    <app-feedback *ngIf="feedbackMessage" [message]="feedbackMessage" [type]="feedbackType"></app-feedback>
    <div *ngIf="errors.length > 0" class="mt-4 text-red-600">
        <h3>Erros encontrados:</h3>
        <ul>
            <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
    </div>
</div>