
    <div class="p-4 w-[90%] sm:w-[60%] mx-auto my-5 sm:my-20 shadow-md blueBG">
      <h2 class="text-xl mb-4 whiteTxt">Criar Notificação</h2>
      <form>
        <mat-form-field class="w-full mb-4 blueBG">
          <mat-label class="blueTxt">Para</mat-label>
          <input matInput id="para">
        </mat-form-field>
        <mat-form-field class="w-full mb-4">
          <mat-label class="blueTxt">Assunto</mat-label>
          <input matInput id="assunto">
        </mat-form-field>
        <mat-form-field class="w-full mb-4">
          <mat-label class="blueTxt">Mensagem</mat-label>
          <textarea matInput id="mensagem" rows="4"></textarea>
        </mat-form-field>
        <button mat-raised-button type="submit" class="custom-button">Enviar</button>
      </form>
    </div>
