<aside class="h-full overflow-y-scroll py-2 dashboard" [ngClass]="{ 'is-open': isMenuOpen, 'is-closed': !isMenuOpen }">
  <div (click)="openMenu()" class="flex justify-end cursor-pointer">
    <svg class="text-right" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
      fill="#fff">
      <path
        d="M120-240v-80h520v80H120Zm664-40L584-480l200-200 56 56-144 144 144 144-56 56ZM120-440v-80h400v80H120Zm0-200v-80h520v80H120Z" />
    </svg>
  </div>
  <div class="dashboardHeader" (click)="openMenu()" [ngClass]="{ 'is-open': isMenuOpen, 'is-closed': !isMenuOpen }">
    <div class="flex flex-col gap-2 mt-4 items-center titleSection"
      [ngClass]="{ 'is-open': isMenuOpen, 'is-closed': !isMenuOpen }">
      <mat-icon class="icon-login">account_circle</mat-icon>
      <h2 class="dashboardTitle">{{ capitalize(getRole()) }}</h2>
    </div>
  </div>

  <div class="dashboardOptionsContainer" [ngClass]="{ 'is-open': isMenuOpen, 'is-closed': !isMenuOpen }">
    <!-- Utilizador -->
    <div class="dashboardOption" (click)="openManageUsers()" [ngClass]="{ 'is-open': isManageUsersSubMenuOpen }">
      <div class="plusIcon" [ngClass]="{ 'is-open': isManageUsersSubMenuOpen }"></div>
      <h2>Utilizadores</h2>
    </div>
    <div class="subMenu" #subMenuGerirUsers
      [ngClass]="{ 'is-open': isManageUsersSubMenuOpen, 'is-closed': !isManageUsersSubMenuOpen }">
      <div class="subMenuItem">
        <a routerLink="/users/create" routerLinkActive="Ativo" [routerLinkActiveOptions]="{ exact: true }">Criar Utilizador</a>
      </div>
      <div class="subMenuItem" *ngIf="getRole() === 'coordenador'|| getRole() === 'admin' || getRole() === 'root'">
        <a routerLink="/users" routerLinkActive="Ativo" [routerLinkActiveOptions]="{ exact: true }">Gerir utilizadores</a>
      </div>
    </div>

    <!-- Serviços -->
    <div class="dashboardOption" *ngIf="getRole() === 'admin' || getRole() === 'root'" (click)="openManageServices()" [ngClass]="{ 'is-open': isManageServicesSubMenuOpen }">
      <div class="plusIcon" [ngClass]="{ 'is-open': isManageServicesSubMenuOpen }"></div>
      <h2>Serviços</h2>
    </div>
    <div class="subMenu"
      [ngClass]="{ 'is-open': isManageServicesSubMenuOpen, 'is-closed': !isManageServicesSubMenuOpen }">
      <div class="subMenuItem">
        <a routerLink="/services/create" routerLinkActive="Ativo" [routerLinkActiveOptions]="{ exact: true }">Criar Serviço</a>
      </div>
      <div class="subMenuItem">
        <a routerLink="/services" routerLinkActive="Ativo" [routerLinkActiveOptions]="{ exact: true }">Gerir Serviços</a>
      </div>
    </div>

    <!-- Atividades -->
    <div class="dashboardOption" (click)="openManageActivities()" *ngIf="getRole() === 'admin' || getRole() === 'root'"
      [ngClass]="{ 'is-open': isManageActivitiesSubMenuOpen }">
      <div class="plusIcon" [ngClass]="{ 'is-open': isManageActivitiesSubMenuOpen }"></div>
      <h2>Atividades</h2>
    </div>
    <div class="subMenu"
      [ngClass]="{ 'is-open': isManageActivitiesSubMenuOpen, 'is-closed': !isManageActivitiesSubMenuOpen }">
      <div class="subMenuItem">
        <a routerLink="/activities/create" routerLinkActive="Ativo" [routerLinkActiveOptions]="{ exact: true }">Criar Atividade</a>
      </div>
      <div class="subMenuItem">
        <a routerLink="/activities" routerLinkActive="Ativo" [routerLinkActiveOptions]="{ exact: true }">Gerir Atividades</a>
      </div>
    </div>

    <!-- Indicadores -->
    <div class="dashboardOption" (click)="openManageIndicators()"
      [ngClass]="{ 'is-open': isManageIndicatorsSubMenuOpen }">
      <div class="plusIcon" [ngClass]="{ 'is-open': isManageIndicatorsSubMenuOpen }"></div>
      <h2>Indicadores</h2>
    </div>
    <div class="subMenu"
      [ngClass]="{ 'is-open': isManageIndicatorsSubMenuOpen, 'is-closed': !isManageIndicatorsSubMenuOpen }">
      <div class="subMenuItem" *ngIf="getRole() === 'admin' || getRole() === 'root'">
        <a routerLink="/indicators/create" routerLinkActive="Ativo" [routerLinkActiveOptions]="{ exact: true }">Criar Indicador</a>
      </div>
      <div class="subMenuItem" *ngIf="getRole() === 'admin' || getRole() === 'root'">
        <a routerLink="/indicators" routerLinkActive="Ativo" [routerLinkActiveOptions]="{ exact: true }">Consultar Registros</a>
      </div>
      <div class="subMenuItem" *ngIf="getRole() === 'admin' || getRole() === 'coordenador' || getRole() === 'root'">
        <a routerLink="/RecordGoalsUpdate" routerLinkActive="Ativo" [routerLinkActiveOptions]="{ exact: true }">Consultar Metas</a>
      </div>
      <div class="subMenuItem" *ngIf="getRole() === 'admin' || getRole() === 'coordenador' || getRole() === 'root'">>
        <a (click)="goToCharts(1)" routerLinkActive="Ativo" [routerLinkActiveOptions]="{ exact: true }">Consultar Métricas</a>
      </div>
    </div>

    <!-- Notificações -->
    <div class="dashboardOption" (click)="openManageNotifications()" 
    *ngIf="getRole() === 'coordenador' || getRole() === 'admin' || getRole() === 'root'"
      [ngClass]="{ 'is-open': isManageNotificationsSubMenuOpen }">
      <div class="plusIcon" [ngClass]="{ 'is-open': isManageNotificationsSubMenuOpen }"></div>
      <h2>Notificações</h2>
    </div>
    <div class="subMenu"
      [ngClass]="{ 'is-open': isManageNotificationsSubMenuOpen, 'is-closed': !isManageNotificationsSubMenuOpen }">
      <div class="subMenuItem" >
        <a routerLink="/notifications/create" routerLinkActive="Ativo" [routerLinkActiveOptions]="{ exact: true }">Criar Mensagem</a>
      </div>
      <div class="subMenuItem">
        <a routerLink="/notifications" routerLinkActive="Ativo" [routerLinkActiveOptions]="{ exact: true }">Consultar Histórico</a>
      </div>
    </div>
  </div>
</aside>