@import '../../../styles/_variables.scss';

.descriptionBox{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-inline: 4em;
    padding-block: 2em;
    background-color: $main-blue;
    color: $fill-white;
    width: 50%;
    margin: 0 auto;
    margin-block: 12em;
    border-radius: 1em;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.graphicsContainer{
    background-color: $main-blue;

    margin: auto;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    border-radius: 1em;
    margin-block: 0;
    margin-top: 1em;
    border: none;
    width: 90%;
    display: flex;
    padding: 1em;
    justify-content: space-around;
}

.row{
    display: flex;
    width: 100%;
    justify-content: space-around;
    
    div{
        width: 45%;
    }
}


main {
    flex: 1;
}