
<form action="">
    <div class="loginContainer">
        <div class="inputContainer"> 
            <input type="password" class="loginInput" placeholder="Nova password">
            <span class="errorSpan"></span>
        </div>
        <div class="inputContainer"> 
            <input type="password" class="loginInput" placeholder="Confirmar password">
            <span class="errorSpan"></span>
        </div>
        <div class="inputContainer"> 
            <input type="password" class="loginInput" placeholder="Código de verificação">
            <span class="errorSpan"></span>
        </div>
        <button type="submit" class="loginBtn">Confirmar</button>
    </div>

</form>


