@import '../../../../styles/_variables.scss';

.blueBG {
    background-color: $main-blue;
  }
  
  .redBorder {
    border: $error-color 2px solid;
  }
  
  .whiteTxt {
    color: $fill-white;
  }


.forgotPassLink{
    cursor: pointer;
    margin-top: 4em;
    color: white;
    text-decoration: none;
}
.forgotPassLink:hover{
    text-decoration: underline;
}

.loginBtn {
    background-color: transparent;
    color: $fill-white;
    border: $fill-white 2px solid;
  }
  .loginBtn:active {
    background-color: $fill-white;
    color: $main-blue;
    border: $fill-white 2px solid;
  }

.inputContainer{
    width: 100%;
    text-align: start;
}

.loginInput {
    box-sizing: border-box;
    caret-color: $fill-white;
    color: $fill-white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $fill-white; 
  
    &::placeholder {
      color: $fill-white; 
    }
  
    &:focus {
      outline: none;
      border-bottom-color: $fill-white;
    }
  }
  
  .loginInput--error,
  .loginInput--error:focus {
    border-bottom: 2px solid $error-red;
    caret-color: $error-red;
    color: $error-red;
  
    &::placeholder {
      color: $error-red;
    }
  }

.errorSpan{
    color: $error-color;
    margin-left: auto;
}