<form (ngSubmit)="onSubmit()">
    <div class="loginContainer">
        <div class="inputContainer">
            <input type="email" [(ngModel)]="email" name="email" class="loginInput" placeholder="Email" required>
            <span class="errorSpan" *ngIf="isError">Erro ao redefinir a senha. Verifique os campos e tente
                novamente.</span>
        </div>
        <div class="inputContainer">
            <input type="password" [(ngModel)]="password" name="password" class="loginInput" placeholder="Nova password"
                required>
            <span class="errorSpan"></span>
        </div>
        <div class="inputContainer">
            <input type="password" [(ngModel)]="passwordConfirmation" name="passwordConfirmation" class="loginInput"
                placeholder="Confirmar password" required>
            <span class="errorSpan"></span>
        </div>
        <div class="inputContainer">
            <input type="text" [(ngModel)]="token" name="token" class="loginInput" placeholder="Código de verificação"
                required>
            <span class="errorSpan"></span>
        </div>
        <button type="submit" class="loginBtn">Confirmar</button>
    </div>
</form>