
<form action="">
    <div class="relative flex flex-col justify-center items-center rounded-xl mx-auto my-5 pb-10 w-[90%] p-10 sm:w-1/2 gap-10 sm:px-10 md:max-w-[500px] md:min-h-[300px] blueBG">
        <div class="w-full"> 
            <input type="password" class="w-full loginInput" placeholder="Nova password">
            <span class="errorSpan"></span>
        </div>
        <div class="w-full"> 
            <input type="password" class="w-full loginInput" placeholder="Confirmar password">
            <span class="errorSpan"></span>
        </div>
        <div class="w-full"> 
            <input type="password" class="w-full loginInput" placeholder="Código de verificação">
            <span class="errorSpan"></span>
        </div>
        <button type="submit" class="mt-4 w-1/2 cursor-pointer uppercase py-1.5 px-4 rounded-full loginBtn">Confirmar</button>
    </div>

</form>


