@import '../../../../styles/_variables.scss';

.loginContainer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-inline: 4em;
    padding-top: 4em;
    padding-bottom: 2em;
    background-color: $main-blue;
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 11.5em;
    margin-bottom: 2em;
    border-radius: 1em;
}
.loginContainer--error{
    border: $error-color 2px solid;
}

.forgotPassLink{
    cursor: pointer;
    margin-top: 4em;
    color: white;
    text-decoration: none;
}
.forgotPassLink:hover{
    text-decoration: underline;
}

.loginBtn{
    margin-top: 1em;
    background-color: transparent;
    color:  $fill-white;
    border: $fill-white 2px solid;
    text-transform: uppercase;
    width: 50%; /* use widht or padding-inline??? */
    padding-block: 0.4em;
    border-radius: 1em;
    cursor: pointer;
}
.loginBtn:active{

    background-color: $fill-white;
    color:  $main-blue;
    border: $fill-white 2px solid;

}


.inputContainer{
    width: 100%;
    text-align: start;
}
.loginInput{
    width: 100%;
    box-sizing: border-box;
    caret-color: $fill-white;
    color: $fill-white;
    background-color: transparent;
    border: none;
    border-bottom: $fill-white 2px solid;
}
.loginInput::placeholder{
    color: $fill-white;
}
.loginInput:focus{
    outline: none;
    border: none;
    border-bottom: $fill-white 2px solid;
    caret-color: $fill-white;
}
.loginInput--error, .loginInput--error:focus{
    outline: none;
    border: none;
    border-bottom: $error-red 2px solid;
    caret-color: $error-red;
    color: $error-red;
}
.loginInput--error::placeholder{
    color: $error-red;
}
.errorSpan{
    color: $error-color;
    margin-left: auto;
}


@import '../../../../styles/_variables.scss';










.redBorder {
  border: $error-color 2px solid;
}



.loginInput--error,
.loginInput--error:focus {
  border-bottom: 2px solid $error-red;
  caret-color: $error-red;
  color: $error-red;

  &::placeholder {
    color: $error-red;
  }
}

.errorSpan {
  color: $error-color; 
  font-size: 0.75rem;
}


.forgotPassLink:hover {
  text-decoration: underline;
}



.blueBG {
  background-color: $main-blue;
}
.blueTxt {
  color: $main-blue;
}
.whiteTxt {
  color: $fill-white;
}

.errorSpanMessage {
  color: $error-color;
  margin-left: auto;
}

/* estilos para dar override do componente do angular material  */
input {
  color: $main-blue !important;
  caret-color: $main-blue !important;
}
textarea {
  color: $main-blue !important;
  caret-color: $main-blue !important;
}
::ng-deep .mat-mdc-form-field-flex {
  background-color: $fill-white !important;
}
::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
  background-color: $fill-white !important;
}
::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::after {
  border-color: $main-dark-blue !important;
}
.custom-button {
  background-color: $darker-main-blue !important;
  color: $fill-white !important;
  border-color: $main-dark-blue !important;
  &:hover {
    background-color: darken($darker-main-blue, 10%) !important;
  }
}
::ng-deep .mat-mdc-select-min-line {
  color: $main-blue !important;
}
::ng-deep .mat-mdc-select-panel {
  background-color: $darker-main-blue !important;
}
.mat-mdc-option {
  background-color: $darker-main-blue !important;
}
.mat-mdc-option-active {
  color: $fill-white !important;
}
.mat-mdc-option:hover {
  background-color: $main-blue !important;
}
::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text {
  color: $main-dark-blue !important;
}
::ng-deep .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
  color: $main-dark-blue !important;
}
::ng-deep svg {
  color: $main-blue !important;
}