<!-- <div class="descriptionBox mx-2 w-full">
  <button class="close-button" (click)="goToHomepage()">X</button>
  <app-loading-spinner *ngIf="isLoading" [message]="'Carregando...'"></app-loading-spinner>
  <div *ngIf="!isLoading">
    <h2>{{ service?.service_name }}</h2>
    <p>{{ service?.description }}</p>
  </div>
</div> -->



    <div class="flex flex-col md:flex-row h-screen">
      <div class="flex-1 flex items-center justify-center transparent">
          <img [src]="service.image_url" alt="Square Image" class="max-w-full max-h-full object-cover borderBlue">
      </div>
      <div class="flex-1 flex items-center justify-center p-8">
          <div>
            <p class="text-xl underline">{{ service.service_name }}</p>
            <p class="text-lg mt-2">{{ service?.description }}</p>
          </div>
      </div>
  </div>



