
<h2 *ngIf="typeOfGraph === 'month'" class="chartTitle"> Ano: {{homologueYear}}</h2>
<h2 *ngIf="typeOfGraph === 'year'" class="chartTitle">Ultimos 5 anos:</h2>


<div class="chart">
    <div *ngFor="let element of dataHTML" class="column">
      <div class="loading-bar" [style.height.px]="element.value">
      </div>
      <p *ngIf="typeOfGraph === 'month'">{{element.month}}</p>
      <p *ngIf="typeOfGraph === 'year'">{{element.year}}</p>
    </div>
</div>


<!-- posso usar ng-content para definir onde vai ficar renderizado o HTML recebido do pai -->
<!-- <ng-content></ng-content> -->

<!-- usar multiplos placeholders. No C.pai criar elementos c/ classes com mesmo nome do select -->
<!-- <ng-content select=".card-title"></ng-content>
<ng-content select=".card-body"></ng-content> -->