<!-- devo criar um componente para descrição servico que recebe
uma string com a descrição?? ou que já contem as 4 descrições e dependento do
botao clicado apresenta a clicada? Guardar descrição de serviço na db?? -->
<app-navbar></app-navbar>
<div class="container">
    <h2>Service name</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est dolorum earum odit cumque pariatur quam in quae ab natus corrupti temporibus minus neque molestiae adipisci, quidem magnam? Eveniet possimus voluptates maiores dicta assumenda quia praesentium enim rerum, eaque fugit dolor dignissimos fugiat voluptate tempore? Provident commodi quasi perspiciatis modi expedita.</p>
</div>
<app-footer></app-footer>
