<div class="z-30 sticky-menu">
   <app-menu></app-menu>
</div>
<h2 class="pt-2 pb-5 ml-[50px] w-[100vw] fixed z-20 whiteTxt blueBG">Lista de Notificações<div class="tab-headers-wrapper">
   <div id="tabHead" class="flex items-center justify-between pr-2">
      <div id="tabHeaders" class="flex w-[30%]">
         <button class="tab-link" [class.active]="selectedTab === 'received'" (click)="selectTab('received')">
            Recebidas
         </button>
         <button class="tab-link" [class.active]="selectedTab === 'sent'" (click)="selectTab('sent')">
            Enviadas
         </button>
      </div>
   </div>
</div></h2>

<div class="sm:mx-1 w-full flex flex-col">
   <div class="flex-1" *ngIf="selectedTab === 'received'">
      <app-notifications-list-section [notifications]="receivedNotifications" [isLoading]="isLoading"
         [type]="'received'"></app-notifications-list-section>
   </div>
   <div class="flex-1" *ngIf="selectedTab === 'sent'">
      <app-notifications-list-section [notifications]="sentNotifications" [isLoading]="isLoading"
         [type]="'sent'"></app-notifications-list-section>
   </div>
</div>