@import '../../../../styles/_variables.scss';

:host {
  position: relative;
  flex: 1;
  display: flex;
}

@media(max-width: 600px) {
  :host {
    flex-direction: column;
    gap: 0.5em;
  }

  .sticky-menu {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
  }
}

.blueBG {
  background-color: $main-blue;
}

.whiteTxt {
  color: $fill-white;
  font-size: 2em;
  text-align: center;
}

.tab-headers-wrapper {
  background-color: $main-blue;

  .tab-link {
    padding: 10px 20px;
    cursor: pointer;
    color: $fill-white;
    border: none;
    background: transparent;
    outline: none;

    &.active {
      background-color: darken($main-blue, 10%);
      border-bottom: 2px solid $fill-white;
    }
  }
}

.highlight {
  border: 2px $main-red;
  /* Change this color to match your design */
  transition: border 1s;
}