@import '../../../../styles/_variables.scss';

:host {
  position: relative;
    flex: 1;
    display: flex;
  } @media(max-width:600px){
    :host{
        flex-direction: column;
        gap:0.5em;
    }
  
    .sticky-menu {
      position: -webkit-sticky; 
      position: sticky;
      top: 60px; 
    }
  }

  .blueBG {
    background-color: $main-blue;
  }
.whiteTxt{
    color: $fill-white;
    font-size: 3em;
    text-align: center;
}