<section class="flex flex-col min-h-full forms-container">

  <div class="flex justify-start items-center text-xl pb-5 pt-2 gap-10 blueBG">


      <button mat-icon-button
      matTooltip="Clique para registrar um novo indicador"
      [matTooltipPosition]="'right'"
      matTooltipClass="custom"
      class="small-btn whiteBG createBtn ml-5 w-[50px] h-[50px]"
      (click)="openDialog(null, 'create')">
  <img src="../../../assets/images/icons8-plus-30.png" alt="createIcon" class="icon-large">
  </button>
      <h2 class="whiteTxt my-0">Lista de indicadores</h2>

    </div>



    <app-loading-spinner *ngIf="isLoading" message="A carregar indicadores..."></app-loading-spinner>

    <div *ngIf="!isLoading" class="">
      <div *ngIf="indicators.length; else noResults">
        <div class="overflow-x-auto relative">
          <table class="user-table min-w-full">
            <thead class="bg-main-blue text-fill-white">
              <tr>
                <th class="w-1/3 p-2">Nome</th>
                <th class="w-1/3 p-2">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indicator of indicators">
                <td class="p-2">{{ indicator.indicator_name }}</td>
                <td class="p-2 text-center">
                  <button (click)="openDialog(indicator, 'edit')" class="edit-button">
                    <img src="../../../assets/images/pencil-96.png" class="icon" alt="Edit">
                  </button>
                  <button (click)="openDialog(indicator, 'delete')" class="delete-button">
                    <img src="../../../assets/images/trash-96.png" class="icon" alt="Delete">
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
         
        </div>
      </div>
      <ng-template #noResults>
        <div class="no-results">
          Nenhum indicador encontrado.
        </div>
      </ng-template>
    </div>

  <app-paginator class="mt-auto" [length]="totalLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
  (page)="handlePageEvent($event)" *ngIf="!isLoading"></app-paginator>
  </section>
