<section class="forms-container">
    <div class="headingSection">
        <h2>Lista de indicadores</h2>
        <img src="../../../assets/images/icons8-plus-30.png" class="icon" alt="Edit" (click)="navigateToCreateIndicator()">
    </div>

    <div *ngIf="isLoadingIndicators" class="loading-circle">
      <div class="spinner"></div>
      <p>A carregar indicadores...</p>
    </div>

    <div *ngIf="!isLoadingIndicators" class="selectOptionContainer">
      <div class="selectOptionContainer--option __remove-paragraphMB">
        <p>Nome</p>

        <p>Opções</p>
      </div>
  
      <div *ngFor="let indicator of indicators; trackBy: trackByIndex"
        class="selectOptionContainer--option">
        <p>{{ indicator.name }}</p>
        <div>
          <img src="../../../assets/images/pencil-96.png" class="icon" alt="Edit" (click)="navigateToEditIndicator(indicator.id)">
          <img src="../../../assets/images/trash-96.png" class="icon" alt="Delete" (click)="removeIndicator(indicator.id)">
        </div>
      </div>
    </div>
  
  

    <mat-paginator class="mat-paginator" [length]="totalIndicators" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </section>


  