@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  margin: 0 auto;
  margin-block: 7em;
  box-sizing: border-box;
  padding: 2em;

  border-radius: 1em;
  border: $secondary-blue 7px solid;

  background-color: $main-blue;


  &.forms-container__error{
    border: $error-color 7px solid;
  }
  

  align-items: start;
  width: 60%;
  max-width: 800px;
}

.modalHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $fill-white;

  h2 {
    margin-bottom: 0;
  }
}

.close-button {

  background-color: $main-red;
  color: $fill-white;
  border-radius: 50%;
  font-size: 24px;
  width: 33px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 99999;
  margin-right: -4%;
  margin-top: -7%;
  position: relative;
  border:none;

  &:hover {
    background-color: darken($main-red, 10%);
  }
  &:focus, .active{
    border:none;
  }
}

.modal.show {
  display: block;
}

.forms-Button {
  @include forms-Button();
}

.custom-button {
  background-color: $darker-main-blue !important;
  color: $fill-white !important;
  border-color: $main-dark-blue !important;
  &:hover {
    background-color: darken($darker-main-blue, 10%) !important;
  }
}
