<div class="modal" [ngClass]="{'show': true}" (click)="closeModal()">
  <div class="modal-container" (click)="$event.stopPropagation()">
    <div class="modalHeader" *ngIf="!isLoading" >
      <h2  class="text-base">{{ message }}</h2>
      <button class="close-button" (click)="closeModal()">&times;</button>
    </div>

    <button *ngIf="!isLoading" mat-raised-button (click)="confirmAction()" type="submit" class="custom-button"> Confirmar
    </button>
    <app-loading-spinner class="mx-auto" *ngIf="isLoading" [message]="loadingMessage" [isForBlueBG]="true"></app-loading-spinner>
    <app-feedback *ngIf="feedbackMessage" [message]="feedbackMessage" [type]="feedbackType"></app-feedback>
  </div>
</div>
