@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  @include forms-container();
  align-items: start;
  width: 60%;
  max-width: 800px;
}

.modalHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $fill-white;

  h2 {
    margin-bottom: 0;
  }
}

.close-button {

  background-color: $main-red;
  border: none;
  color: $fill-white;
  border-radius: 50%;
  font-size: 24px;
  width: 33px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 99999;
  margin-right: -7%;
  margin-top: -15%;
  position: relative;

  &:hover {
    background-color: darken($main-red, 10%);
  }
}

.modal.show {
  display: block;
}

.forms-Button {
  @include forms-Button();
}
