<div class="modal" [ngClass]="{'show': true}" (click)="closeModal()">
  <div class="modal-container" (click)="$event.stopPropagation()">
    <div class="modalHeader">
      <h2  class="text-base">{{ message }}</h2>
      <button class="close-button" (click)="closeModal()">&times;</button>
    </div>
    <button (click)="confirmAction()" type="submit" class="forms-Button" [disabled]="isLoading">Confirmar</button>
    <app-loading-spinner *ngIf="isLoading" [message]="loadingMessage"></app-loading-spinner>
    <app-feedback *ngIf="feedbackMessage" [message]="feedbackMessage" [type]="feedbackType"></app-feedback>
  </div>
</div>
