<div class="p-4 w-[90%] sm:w-[60%] mx-auto my-5 sm:my-10 shadow-md blueBG ">
  <h2 class="text-xl mb-4 whiteTxt" *ngIf="formsAction === 'create'">
    <div class="flex gap-2 items-center">
      Criar serviço
      <svg matTooltip="Para criar um novo serviço, preencha os seguintes campos com informações válidas." [matTooltipPosition]="'above'"
      matTooltipClass="custom"
      xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>

    </div>
  </h2>
  <h2 class="text-xl mb-4 whiteTxt" *ngIf="formsAction === 'edit'">
    <div class="flex gap-2 items-center">
      Editar serviço
      <svg matTooltip="Para editar um serviço, preencha os seguintes campos com informações válidas." [matTooltipPosition]="'above'"
      matTooltipClass="custom"
      xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
    </div>
  </h2>

  <app-loading-spinner *ngIf="isLoading" [isForBlueBG]="true" message="A carregar serviço..."></app-loading-spinner>

  <form *ngIf="!isLoading" (ngSubmit)="formSubmited()" #serviceForm="ngForm">
    <mat-form-field class="w-full mb-4 blueBG" *ngIf="!isLoading">
      <mat-label class="blueTxt">Nome do serviço:</mat-label>
      <input matInput [(ngModel)]="selectedService.service_name" id="name" name="name" />
    </mat-form-field>
    <mat-form-field class="w-full mb-4" *ngIf="!isLoading">
      <mat-label class="blueTxt">Descrição:</mat-label>
      <textarea matInput class="blueScrollBar" [(ngModel)]="selectedService.description" id="description"
      name="description" [ngClass]="{ 'inputContainer--input__error': isError }" required ></textarea>
    </mat-form-field>

<!-- cena da imagem -->
    <div class="flex flex-col gap-2 w-full items-center whiteTxt">
      <label class="self-start p-1 rounded-sm cursor-pointer shadow-lg custom-button" for="image">carregar imagem:</label>
      <input  type="file" class="inputContainer--input" (change)="onFileSelected($event)" id="image" name="image"
        accept="image/*">
      <div *ngIf="selectedService.image_url" class="w-full rounded-tl rounded-tr p-2 whiteBG">
        <img  class=" max-w-[50%] mx-auto image-preview-img" [src]="selectedService.image_url" alt="Image Preview">
        <p id="file-chosen" class="text-center blueTxt">Imagem carregada com sucesso</p>
      </div>
    </div>


    <!-- tabs -->
    <div class="tab-headers-wrapper mt-5">
      <div id="tabHead" class="flex items-center justify-between pr-2">
    <div id="tabHeaders" class="flex w-[30%]">
      <button type="button" class="tab-link" [class.active]="activeTab === 'activities'" (click)="selectTab('activities')">
        Atividades
      </button>
      <button type="button" class="tab-link" [class.active]="activeTab === 'indicators'" (click)="selectTab('indicators')">
        Indicadores
      </button>
    </div>
    </div>
    </div>
    <!-- checkboxes -->

    <div class="min-h-[50px] max-h-[300px] p-2 blueScrollBar blueTxt whiteBG rounded-bl rounded-br">
      <div *ngIf="activeTab === 'activities'">
        <h4 class="mx-1 blueTxt text-lg">Associar Atividades:</h4>
        <app-loading-spinner *ngIf="isLoadingActivities" message="A carregar atividades..."></app-loading-spinner>
        
        <app-selectable-list *ngIf="!isLoadingActivities" [items]="activitiesList" displayProperty="activity_name"
          (selectionChange)="onActivitiesSelectionChange($event)"
          [preSelectedItems]="selectedActivityIDs"></app-selectable-list>
      </div>
      <div *ngIf="activeTab === 'indicators'">
        <h4 class="mx-1 blueTxt text-lg">Associar Indicadores:</h4>
        <app-loading-spinner *ngIf="isLoadingIndicators" message="A carregar indicadores..."></app-loading-spinner>
        
        <app-selectable-list *ngIf="!isLoadingIndicators" [items]="indicatorsList" displayProperty="indicator_name"
          (selectionChange)="onIndicatorsSelectionChange($event)"
          [preSelectedItems]="selectedIndicatorIDs"></app-selectable-list>
      </div>
    </div>
   
    <button *ngIf="!isLoading" mat-raised-button type="submit" class="mt-2 custom-button">
      {{ formsAction === 'create' ? 'Adicionar' : 'Atualizar' }}
    </button>
  </form>
</div>