<!-- <app-feedback [message]="notificationMessage" [type]="Type"></app-feedback>

<form (ngSubmit)="formSubmited()" #serviceForm="ngForm">
  <div class="forms-container" [ngClass]="{ 'forms-container__error': isError }">
    <div class="flex gap-2 items-center" *ngIf="formsAction === 'create'">
      <h2 class="forms-container--title">Criar serviço</h2>
      <svg matTooltip="Página para criar serviço" [matTooltipPosition]="'above'" matTooltipClass="custom"
        xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff">
        <path
          d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
      </svg>
    </div>

    <div class="flex gap-2 items-center" *ngIf="formsAction === 'edit'">
      <h2 class="forms-container--title">Editar serviço</h2>
      <svg matTooltip="Página para editar serviço" [matTooltipPosition]="'above'" matTooltipClass="custom"
        xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff">
        <path
          d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
      </svg>
    </div>

    <div class="forms-container--inputContainer">
      <label for="name">Nome do serviço:</label>
      <input type="text" class="inputContainer--input" [(ngModel)]="selectedService.service_name" id="name" name="name"
        [ngClass]="{ 'inputContainer--input__error': isError }" required>
    </div>

    <div class="forms-container--inputContainer">
      <label for="description">Descrição:</label>
      <textarea class="inputContainer--input" [(ngModel)]="selectedService.description" id="description"
        name="description" [ngClass]="{ 'inputContainer--input__error': isError }" required></textarea>
    </div>

    <div class="forms-container--inputContainer">
      <label for="more_info">Mais informações (URL):</label>
      <input type="url" class="inputContainer--input" [(ngModel)]="selectedService.more_info" id="more_info"
        name="more_info" [ngClass]="{ 'inputContainer--input__error': isError }">
    </div>

    <div class="forms-container--inputContainer">
      <label class="custom-file-upload" for="image">Carregar imagem:</label>
      <input type="file" class="inputContainer--input" (change)="onFileSelected($event)" id="image" name="image"
        accept="image/*">
      <div *ngIf="selectedService.image_url" class="image-preview">
        <img [src]="selectedService.image_url" alt="Image Preview" class="image-preview-img">
        <p id="file-chosen">Imagem carregada com sucesso</p>
      </div>
    </div>

    <div class="tab-buttons">
      <button type="button" [class.active]="activeTab === 'activities'" (click)="selectTab('activities')">Atividades
      </button>
      <button type="button" [class.active]="activeTab === 'indicators'" (click)="selectTab('indicators')">Indicadores
      </button>
    </div>

    <div *ngIf="activeTab === 'activities'" class="checkboxContainer">
      <h4 class="checkboxContainer-title">Associar Atividades:</h4>
      <app-loading-spinner *ngIf="isLoadingActivities" message="A carregar atividades..."></app-loading-spinner>
      <app-selectable-list *ngIf="!isLoadingActivities" [items]="activitiesList" displayProperty="activity_name"
        (selectionChange)="onActivitiesSelectionChange($event)" [preSelectedItems]="selectedActivityIDs">
      </app-selectable-list>
    </div>

    <div *ngIf="activeTab === 'indicators'" class="checkboxContainer">
      <h4 class="checkboxContainer-title">Associar Indicadores:</h4>
      <app-loading-spinner *ngIf="isLoadingIndicators" message="A carregar indicadores..."></app-loading-spinner>
      <app-selectable-list *ngIf="!isLoadingIndicators" [items]="indicatorsList" displayProperty="indicator_name"
        (selectionChange)="onIndicatorsSelectionChange($event)" [preSelectedItems]="selectedIndicatorIDs">
      </app-selectable-list>
    </div>

    <button type="submit" class="forms-Button" [disabled]="!formValid()">Confirmar</button>
  </div>
</form> -->