@import '../../../styles/_variables.scss';

.headingSection {
  width: 100%;
  background-image: url('../../../assets/images/g579.png');
  background-size: cover;
  background-position: center;
  padding-block: 5%;
}

.headingTitle {
  width: 30%;
  color: $fill-white;
  font-size: 4em;
  margin-left: 2em;
  line-height: 1.1em;
} @media (max-width: 600px) {
  .headingTitle{
    font-size: 1.5em;
    font-weight: bold;
  }
}

.homepageCardsSections {
  display: grid;
  margin-inline: auto;
  margin-block: 2em;

  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 2em;
  width: 80%;
  max-width: 1000px;
}@media (max-width: 600px) {
  .homepageCardsSections{
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }
}

// .card {
//   cursor: pointer;
//   display: flex;
//   background-color: $main-blue;
//   flex-direction: column;
//   justify-content: space-between;
//   height: 100%;
//   border-radius: 1em;
//   overflow: hidden;

// }

.card {
  height: 50vh;
  position: relative;
  background: $main-blue;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
  transition: all 1s ease-in-out;

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $main-blue;
    top: calc(100% - 120px);
    opacity: 1;
    transition: all 1s ease-in-out;

    display: flex;
    align-items: top;
    justify-content: center;

    &-inner {
      position: relative;
      display: block;
      height: 80px;
      display: flex;
      flex-flow: column nowrap;
      text-align: center;
      justify-content: center;
      transition: all 1s ease-in-out;
    }


  }

  &__title {
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
  }

  &.a100,
  &:hover {
    .card__content {
      top: 0;
      background: $main-dark-blue;
      transition: all 1s ease-in-out;

      &-inner {
        height: 100%;
        align-items: center;
        justify-content: center;
        transition: all 1s ease-in-out;
      }
    }
  }

  &.a50 {
    .card__content {
      top: 50%;

      &-inner {
        height: 50%;
      }
    }

    &:hover {
      .card__content {
        top: 0;

        &-inner {
          height: 100%;
        }
      }
    }
  }

  &.a100 {
    &:hover {
      .card__content {
        top: calc(100% - 80px);

        &-inner {
          height: 80px;
        }
      }
    }
  }
}

.card:hover {
  box-shadow: 5px 10px 63px -20px rgba(0, 0, 0, 0.75);
  

}

.cardImg {
  // cursor: pointer;
  // display: flex;
  // align-items: flex-end;
  width: 100%;
  img {
    width: 100%;
    aspect-ratio: 10/8;
    transition: transform 0.6s ease-in-out;
  }
}

.card:hover .cardImg img {
  transform: scale(1.05); // Aumenta a imagem em 5% ao passar o mouse

}

.card:hover {
  background-color: $main-dark-blue;

}


.cardText {
  //cursor: pointer;
  background-color: transparent;
  height: 100%;
  padding: 1em;

  p {
    color: $fill-white;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
  }


}

// .cardText:hover {
//   background-color: $main-dark-blue;
// }
.imgSize {
  // width: $card-width;
  // height: $card-height;
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Load
.random-demo {
  display: flex;
/*   flex-direction: column; */
  gap:0.5em;

  width: 30%;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .random-demo{
    margin:0;
    margin-right: 2em;
    flex-direction: column;
  }
}

.el {
  width: 50px;
  height: 50px;
  background-color: $main-dark-blue;
  border-radius: 50%;
}

main {
  flex: 1;
}

:host {
  flex: 1;
  display: flex;
}



// .line-drawing-demo .text path {
//   stroke: #000; // Defina a cor da linha
//   fill: none; // Sem preenchimento para ver apenas a "linha"
//   stroke-width: 2; // Espessura da linha
//   stroke-dasharray: 1000; // O comprimento do traço (ajuste conforme necessário)
//   stroke-dashoffset: 1000; // Desloca o traço
//   animation: draw 4s forwards; // Animação CSS para desenhar o texto
// }

// @keyframes draw {
//   to {
//     stroke-dashoffset: 0;
//   }
// }

.navigation-button {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $main-blue ;
  color: white;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $main-dark-blue;
  }

::ng-deep mat-icon{
  height: 60px;
  width: 60px;
  font-size: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

  &.previous-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    left: 100px;
    top: 350px;
  }

  &.next-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    right: 100px;
    top: 350px;
  }

  &.top-button {
    right: 20px;
    bottom: 140px;
  }
  @media (max-width:600px){
    &.previous-button {
      left: 150px;
      top: 550px;
    }
  
    &.next-button {
      right: 150px;
      top: 550px;
    }
  }

  mat-icon {
    font-size: 24px;
  }
}




