@import '../../../styles/_variables.scss';

.headingSection {
  background-image: url('../../../assets/images/g579.png');
  background-size: cover;
  background-position: center;
  padding-block: 5%;
}

.headingTitle {
  color: $fill-white;
  font-size: 4em;
  line-height: 1.1em;
} @media (max-width: 600px) {
  .headingTitle{
    font-size: 1.5em;
  }
}

.homepageCardsSections {
  display: grid;
  margin-inline: auto;
  margin-block: 2em;

  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 2em;
  width: 80%;
  max-width: 1000px;
}@media (max-width: 600px) {
  .homepageCardsSections{
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }
}

// .card {
//   cursor: pointer;
//   display: flex;
//   background-color: $main-blue;
//   flex-direction: column;
//   justify-content: space-between;
//   height: 100%;
//   border-radius: 1em;
//   overflow: hidden;

// }

.card {
  height: 50vh;
  position: relative;
  background: $main-blue;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
  transition: all 1s ease-in-out;

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $main-blue;
    top: calc(100% - 120px);
    opacity: 1;
    transition: all 1s ease-in-out;

    display: flex;
    align-items: top;
    justify-content: center;

    &-inner {
      position: relative;
      display: block;
      height: 80px;
      display: flex;
      flex-flow: column nowrap;
      text-align: center;
      justify-content: center;
      transition: all 1s ease-in-out;
    }
  }

  &__title {
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
  }

  &.a100,
  &:hover {
    .card__content {
      top: 0;
      background: $main-dark-blue;
      transition: all 1s ease-in-out;

      &-inner {
        height: 100%;
        align-items: center;
        justify-content: center;
        transition: all 1s ease-in-out;
      }
    }
  }

  &.a50 {
    .card__content {
      top: 50%;

      &-inner {
        height: 50%;
      }
    }

    &:hover {
      .card__content {
        top: 0;

        &-inner {
          height: 100%;
        }
      }
    }
  }

  &.a100 {
    &:hover {
      .card__content {
        top: calc(100% - 80px);

        &-inner {
          height: 80px;
        }
      }
    }
  }
}

.card:hover {
  box-shadow: 5px 10px 63px -20px rgba(0, 0, 0, 0.75);
  

}

.cardImg {
  // cursor: pointer;
  // display: flex;
  // align-items: flex-end;
  width: 100%;
  img {
    width: 100%;
    aspect-ratio: 10/8;
    transition: transform 0.6s ease-in-out;
  }
}

  // &:hover .cardImg img {
  //   transform: scale(1.05); // Aumenta a imagem em 5% ao passar o mouse
  // }

.card:hover {
  background-color: $main-dark-blue;

}


.cardText {
  //cursor: pointer;
  background-color: transparent;
  height: 100%;
  padding: 1em;

  p {
    color: $fill-white;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
  }


}

// .cardText:hover {
//   background-color: $main-dark-blue;
// }
.imgSize {
  // width: $card-width;
  // height: $card-height;
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



main {
  flex: 1;
}

:host {
  flex: 1;
  display: flex;
}


.navigation-button {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $main-blue;
  color: white;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, opacity 0.3s ease;

  &.previous-button {
    left: 2rem;
    top: 25rem;
  }

  &.next-button {
    right: 2rem;
    top: 25rem;
  }

  @media (max-width: 600px) {
    &.previous-button {
      left: 5rem;
      top: 7rem;
    }

    &.next-button {
      right: 5rem;
      top: 7rem;
    }
  }

  .btnVisible {
    opacity: 1;
  }

  .btnHidden {
    opacity: 0;
  }

  #prevIcon,
  #nextIcon {
    --lord-icon-primary: var(--main-dark-blue);
  }
}


