<div class="w-full relative">
  <div class="headingSection">
    <h1 class="headingTitle">Departamento Psiquiatria</h1>
  </div>
  <div class="homepageCardsSections">
    <div class="card" *ngFor="let service of displayedServices" (click)="goToDescription(service.id)">
      <div class="cardImg">
        <img [src]="service.image_url" class="imgSize" alt="{{ service.service_name }}">
      </div>
      <div class="cardText">
        <p>{{ service.service_name }}</p>
      </div>
    </div>
  </div>

  <div *ngIf="isLoading || !displayedServices.length" class="random-demo">
    <div class="el"></div>
    <div class="el"></div>
    <div class="el"></div>
    <div class="el"></div>
  </div>

  <!-- Botão para carregar serviços anteriores -->
  <button *ngIf="!isLoading && page > 1" (click)="loadPreviousServices()"
    [ngClass]="{'btnVisible': page > 1, 'btnHidden': page <= 1}" class="navigation-button previous-button">
    <lord-icon src="https://cdn.lordicon.com/whtfgdfm.json" trigger="hover" state="hover-ternd-flat-6"
      colors="primary:#ffffff" style="width:30px;height:48px; transform: rotate(180deg);">
    </lord-icon>
  </button>

  <!-- Botão para carregar serviços seguintes -->
  <button *ngIf="!isLoading && page * pageSize < totalServices" (click)="loadNextServices()"
    [ngClass]="{'btnVisible': page * pageSize < totalServices, 'btnHidden': page * pageSize >= totalServices}"
    class="navigation-button next-button">
    <lord-icon src="https://cdn.lordicon.com/whtfgdfm.json" trigger="hover" state="hover-ternd-flat-6"
      colors="primary:#ffffff" style="width:30px;height:48px;">
    </lord-icon>
  </button>
</div>