<div class="container">
    <app-navbar></app-navbar>

    <main>
        <div class="headingSection">
            <h1 class="headingTitle">Departamento Psiquiatria</h1>
        </div>
        <div class="homepageCardsSections">
            <div class="card">
                <div class="cardImg">
                    <img src="../../../assets/images/consultas.PNG" alt="">
                </div>
                <div class="cardText">
                    <p>Consultas</p>
                </div>
            </div>
        
            <div class="card">
                <div class="cardImg">
                    <img src="../../../assets/images/internamento1.jpg" alt="">
                </div>
                <div class="cardText">
                    <p>Internamentos</p>
                </div>
            </div>
        
            <div class="card">
                <div class="cardImg">
                    <img src="../../../assets/images/Hospital de dia.jpg" alt="">
                </div>
                <div class="cardText">
                    <p>Hospital de dia</p>
                </div>
            </div>
        
            <div class="card">
                <div class="cardImg">
                    <img src="../../../assets/images/Domiciliario.jpg" alt="">
                </div>
                <div class="cardText">
                    <p>Serviço Domiciliário</p>
                </div>
            </div>
        </div>
    </main>
    
    <app-footer></app-footer>
</div>

