<!-- <app-create-field-modal [isVisible]="isModalVisible" (closeEvent)="closeModal()"></app-create-field-modal> -->
 
<app-notification [message]="notificationMessage" [type]="notificationType"></app-notification>

<form>
    <div [class.loading]="isLoadingIndicadores">
        <div class="forms-container" [ngClass]="{ 'forms-container__error': isError }">

              <h2 class="forms-container--title" *ngIf="formsAction === 'create'" >Criar atividade</h2>
              <h2 class="forms-container--title" *ngIf="formsAction === 'edit'" >Editar atividade</h2>

          
            <div class="forms-container--inputContainer">
              <label>Nome atividade:</label>

              <input [(ngModel)]="selectedActivity.name" name="name" type="text" class="inputContainer--input" [ngClass]="{ 'inputContainer--input__error': isError }">
            </div>

            
            <div class="selectContainer">
              <label for="serviceId">Serviços:</label>
              <select id="serviceId" name="serviceId">
                <option *ngFor="let service of servicesList; let i = index;" [value]="service.id">
                  {{ service.service_name }}
                </option>
                <option *ngIf="isLoadingServices == true" disabled selected>A carregar serviços...</option>
                <option *ngIf="servicesList && servicesList.length === 0 && isLoadingServices == false" disabled>No services available</option>
              </select>
            </div>

            <div class="checkboxContainer">
              <h4 class="checkboxContainer-title">Associar indicadores:</h4>
        
              <div class="checkboxContainer--option" *ngFor="let indicator of indicatorsList; let i = index; trackBy: trackByIndex">
                <input class="styled-checkbox" type="checkbox"
                [checked]="isSelected(indicator.id)" 
                (click)="toggleSelection(indicator.id)">
                <label>{{ indicator.indicator_name }}</label>
              </div>


              <div *ngIf="isLoadingIndicadores" class="loading-circle">
                <div class="spinner"></div>
                <p>A carregar indicadores..</p>
              </div>
            </div>
          
            <button (click)="formSubmited()" type="submit" class="forms-Button">Confirmar</button>
        </div>
    </div>
</form>
