@import '../../../../styles/_variables.scss';

:host {
    flex: 1;
    display: flex;
  } @media(max-width:600px){
    :host{
        flex-direction: column;
    }
  }

  .graphicsContainer{
    background-color: $main-blue;
    box-sizing: border-box;
    border: none;
}

.tab-headers-wrapper{
    background-color: $darker-main-blue;
}
.tab-headers {
    display: flex;
    align-items: center;
    width: 30%;

} @media(max-width:600px){
    .tab-headers{
        width: 50%;
        margin-left: 4em;
    }
}

.tab-link {
    color: $fill-white;
    width: 100%;
    border: 2px solid $main-blue;
    background-color: $darker-main-blue;
    outline: none;
    cursor: pointer;
    padding: 1em;
    transition: 0.3s;  
    font-size: 1.4em;
}

.tab-link:hover, .tab-link.active:hover {
    background-color: darken($main-blue, 10);
}

.tab-link.active {
    background-color: $main-blue;
}