@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';


.headingSection {
  display: flex;
  color: $main-blue;

  img {
    width: 25px;
    height: 25px;
    margin-left: auto;
  }
}

.forms-container {
  @include forms-container();
  text-align: center;
  padding: 0;
  margin-block: 0em;
  border: 10px solid $main-blue;
  background-color: $fill-white;
  width: 100%;
}

.forms-container--inputContainer {
  @include forms-container--inputContainer();
}

.inputContainer--input {
  @include inputContainer--input();
  width: 50%;
}

.selectOptionContainer--option {
  @include selectOptionContainer--option();
  align-items: center;
}

.forms-Button {
  @include forms-Button();
  color: $main-blue;
  border: $main-blue 2px solid;
  text-transform: uppercase;
  width: 20%;
  /* use widht or padding-inline??? */
  margin-top: 0;
}

.icon {
  @include icon();
}

.__remove-paragraphMB {
  p {
    margin-bottom: 0;
  }
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  th {
    background-color: $main-blue; // Use a cor desejada
    color: $fill-white; // Use a cor desejada
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: $secondary-blue;
  }
}


//spiner styles
.loading-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  color: $main-blue;
  margin-block: 1em;
}

.spinner {
  border: 8px solid $secondary-blue;
  border-top: 8px solid $main-blue; 
  border-radius: 50%;
  width: 50px; 
  height: 50px;
  animation: spin 2s linear infinite;
}

.spinner_updateRecord-special{
  width: 25px; 
  height: 25px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}