@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.whiteText {
  color: $fill-white;
}

.darkBlueBG {
  background-color: $main-blue;
}

.borderBlue {
  border: $main-blue 10px solid;
  border-radius: 2em;
}

.headingSection {
  background-color: $fill-white;
  color: $main-blue;
  justify-content: center;
  text-align: center;
  font-size: 1.8em;

  img {
    width: 25px;
    height: 25px;
    margin-left: auto;
  }
}

.forms-container {
  box-sizing: border-box;
  background-color: $fill-white;
  border: $main-blue 10px solid;
  max-height: 70vh;

  &.forms-container__error {
    border: $error-color 10px solid;
  }

  @media (max-width: 600px) {
    overflow-y: visible;
    height: auto;
  }
}

.forms-container--inputContainer {
  @include forms-container--inputContainer();
}

.inputContainer--input {
  width: 100%;
  box-sizing: border-box;
  color: black;
  background-color: $fill-white;
  border-radius: 0.5em;
  padding-block: 0.5em;
  padding-inline: 1em;
  border: none;

  &::placeholder {
    color: $main-blue;
  }

  &:focus {
    outline: none;
    border: none;
    caret-color: $main-blue;
  }

  &:disabled {
    background-color: darken($lighter-main-blue, 10);
    border: none;
  }

  &.inputContainer--input__error,
  .inputContainer--input__error:focus {
    outline: none;
    border: $error-red 2px solid;
    caret-color: $error-red;
    color: $error-red;
  }

  &.inputContainer--input__error::placeholder {
    color: $error-red;
  }
}

.selectOptionContainer--option {
  @include selectOptionContainer--option();
  align-items: center;
}

.forms-Button {
  @include forms-Button();
  color: $main-blue;
  border: $main-blue 2px solid;
  text-transform: uppercase;
  margin-top: 0;
}

.forms-Button.isEditing {
  background-color: $main-dark-blue;
  border: $main-blue 2px solid;
  color: $fill-white;
  margin-left: 2.3em;
  animation: scale-animation 1.5s ease-in-out infinite;
}

@keyframes scale-animation {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

.icon {
  @include icon();
}

.__remove-paragraphMB {
  p {
    margin-bottom: 0;
  }
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.5em;

  thead {
    position: sticky;
    top: 0;
    background-color: $main-dark-blue;
    z-index: 1;

  }

  th {
    background-color: $main-dark-blue;
    color: $fill-white;
    font-weight: bold;
    padding: 2px;
  }

  td {
    padding: 12px;
    border-bottom: 1px solid $secondary-blue;
  }

  tr:hover {
    background-color: lighten($darker-main-blue, 25%);
  }
}

.blueBtnBorder {
  border-bottom: solid 2px $main-dark-blue;
}

.relative .dropdown {
  z-index: 50;
  position: absolute;
  right: 0;
  top: 100%;
}