

<app-notification [message]="notificationMessage" [type]="notificationType"></app-notification>
<form>
  <div class="forms-container"><!--  [class.loading]="isLoading" -->

    <h2 class="forms-container--title" *ngIf="formsAction === 'create'" >Criar indicador</h2>
    <h2 class="forms-container--title" *ngIf="formsAction === 'edit'" >Editar indicador</h2>
    
    <div class="forms-container--inputContainer"> <!-- *ngIf="!isLoading || notificationType === 'error'" -->
      <label for="name">Nome:</label>
      <input type="text" class="inputContainer--input" [ngClass]="{ 'inputContainer--input__error': isError }"
      [(ngModel)]="selectedIndicator.name" id="name" name="name" placeholder="Name" required>
      <span class="errorSpanMessage"></span>
    </div>

    <div class="selectContainer"> <!-- *ngIf="!isLoading || notificationType === 'error'" -->
      <label for="service">Serviço:</label>
      <select [(ngModel)]="selectedIndicator.service_id" id="service" name="serviceId" required>
        <option *ngFor="let service of services" [value]="service.id">{{service.service_name}}</option>
        <option *ngIf="isLoadingServices == true" disabled selected>A carregar serviços...</option>
        <option *ngIf="services && services.length === 0 && isLoadingServices == false" disabled>No services available</option>
      </select>
    </div>

    <div class="selectContainer"> <!-- *ngIf="!isLoading || notificationType === 'error'" -->
      <label for="activity">Atividade:</label>
      <select [(ngModel)]="selectedIndicator.activity_id" id="activity" name="activity" required>
        <option *ngFor="let activity of activities" [value]="activity.id">{{activity.activity_name}}</option>
        <option *ngIf="isLoadingAtividades == true" disabled selected>A carregar atividades...</option>
        <option *ngIf="services && services.length === 0 && isLoadingAtividades == false" disabled>No services available</option>
        <option value="none">None</option>
      </select>
    </div>

    <div class="selectContainer"> <!-- *ngIf="!isLoading || notificationType === 'error'" -->
      <label for="type">Tipo:</label>
      <select [(ngModel)]="selectedIndicator.type" id="type" name="type" required>
        <option value="produção">Produção</option>
        <option value="desempenho">Desempenho</option>
        <option value="financeiro">Financeiro</option>
      </select>
    </div>

    <div class="forms-container--inputContainer"> <!-- *ngIf="!isLoading || notificationType === 'error'" -->
      <label for="meta">Meta:</label>
      <input type="text" class="inputContainer--input" [(ngModel)]="goalTargetValue"
      id="meta" name="meta" placeholder="Meta anual" required>
      <span class="errorSpanMessage"></span>
    </div>

    <button type="submit" class="forms-Button" (click)="formSubmited()">Atualizar</button>
  </div>
</form>
