@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.whiteTxt {
  color: $fill-white;
}
.blueText{
  color: $main-blue;
}
.whiteBG{
  background-color: $fill-white;
}

.custom-button {
  background-color: $darker-main-blue !important;
  color: $fill-white !important;
  border-color: $main-dark-blue !important;
  transition: background-color 0.3s, border-color 0.3s;
  
  &:hover {
    background-color: darken($darker-main-blue, 10%) !important;
  }
}

/* image input styles */
input[type="file"] {
  display: none;
}
.image-preview-img {
  aspect-ratio: 10/8;
}

.blueScrollBar{
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $main-blue $fill-white;
}

/* tabHeaders */
.tab-headers-wrapper{
  background-color: $darker-main-blue;
  font-size: 1.4em;
}
.tab-headers {
  display: flex;
  align-items: center;
  width: 30%;


} @media(max-width:600px){
  .tab-headers{
      width: 50%;
      margin-left: 4em;
  }
}

.tab-link {
  color: $fill-white;
  width: 100%;
  border: 2px solid $fill-white;
  background-color: $darker-main-blue;
  outline: none;
  cursor: pointer;
  padding: 1em;
  transition: 0.3s;

}

.tab-link:hover, .tab-link.active:hover {
  background-color: darken($main-blue, 10);
}

.tab-link.active {
  background-color: $main-blue;
}


.blueBG {
  background-color: $main-blue;
}
.blueTxt {
  color: $main-blue;
}
.whiteTxt {
  color: $fill-white;
}

.errorSpanMessage {
  color: $error-color;
  margin-left: auto;
}

/* estilos para dar override do componente do angular material  */
input {
  color: $main-blue !important;
  caret-color: $main-blue !important;
}
textarea {
  color: $main-blue !important;
  caret-color: $main-blue !important;
}
::ng-deep .mat-mdc-form-field-flex {
  background-color: $fill-white !important;
}
::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
  background-color: $fill-white !important;
}
::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::after {
  border-color: $main-dark-blue !important;
}

::ng-deep .mat-mdc-select-min-line {
  color: $main-blue !important;
}
::ng-deep .mat-mdc-select-panel {
  background-color: $darker-main-blue !important;
}
.mat-mdc-option {
  background-color: $darker-main-blue !important;
}
.mat-mdc-option-active {
  color: $fill-white !important;
}
.mat-mdc-option:hover {
  background-color: $main-blue !important;
}
::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text {
  color: $main-dark-blue !important;
}
::ng-deep .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
  color: $main-dark-blue !important;
}
::ng-deep svg {
  color: $main-blue !important;
}

// Custom tooltip styles
::ng-deep .mat-mdc-tooltip .mdc-tooltip__surface{
  font-size: 1em !important;
}
::ng-deep .custom div{
  padding: 1em;
  background-color: $main-dark-blue !important;
}
::ng-deep .custom div div{
  font-size: 2em;
} 
.association-container {
  display: flex;
  justify-content: space-between;
}