<app-feedback [message]="notificationMessage" [type]="Type"></app-feedback>

<form (ngSubmit)="formSubmited()" #indicatorForm="ngForm">
  <div class="forms-container" [ngClass]="{ 'forms-container__error': isError }">
    <h2 class="forms-container--title" *ngIf="formsAction === 'create'">Criar indicador</h2>
    <h2 class="forms-container--title" *ngIf="formsAction === 'edit'">Editar indicador</h2>

    <div class="forms-container--inputContainer">
      <label for="name">Nome do indicador:</label>
      <input type="text" class="inputContainer--input" [(ngModel)]="selectedIndicator.indicator_name" id="name"
        name="name" [ngClass]="{ 'inputContainer--input__error': isError }" required>
    </div>
    <div class="tab-buttons">
      <button type="button" [class.active]="activeTab === 'services'" (click)="selectTab('services')">Serviços</button>
      <button type="button" [class.active]="activeTab === 'activities'"
        (click)="selectTab('activities')">Atividades</button>
    </div>

    <div *ngIf="activeTab === 'services'" class="checkboxContainer">
      <h4 class="checkboxContainer-title">Associar Serviços:</h4>
      <app-loading-spinner *ngIf="isLoadingServices" message="A carregar serviços..."></app-loading-spinner>
      <app-selectable-list *ngIf="!isLoadingServices" [items]="servicesList" displayProperty="service_name"
        (selectionChange)="onServicesSelectionChange($event)"
        [preSelectedItems]="selectedServicesIDs"></app-selectable-list>
    </div>

    <div *ngIf="activeTab === 'activities'" class="checkboxContainer">
      <h4 class="checkboxContainer-title">Associar Atividades:</h4>
      <app-loading-spinner *ngIf="isLoadingActivities" message="A carregar atividades..."></app-loading-spinner>
      <app-selectable-list *ngIf="!isLoadingActivities" [items]="activitiesList" displayProperty="activity_name"
        (selectionChange)="onActivitiesSelectionChange($event)"
        [preSelectedItems]="selectedActivitiesIDs"></app-selectable-list>
    </div>

    <button type="submit" class="forms-Button" [disabled]="!formValid()">Confirmar</button>
  </div>
</form>
