<app-feedback [message]="notificationMessage" [type]="Type"></app-feedback>

<form (ngSubmit)="formSubmited()" #indicatorForm="ngForm">
  <div class="forms-container" [ngClass]="{ 'forms-container__error': isError }">
    <h2 class="forms-container--title" *ngIf="formsAction === 'create'">Criar indicador</h2>
    <h2 class="forms-container--title" *ngIf="formsAction === 'edit'">Editar indicador</h2>

    <div class="forms-container--inputContainer">
      <label for="name">Nome do indicador:</label>
      <input type="text" class="inputContainer--input" [(ngModel)]="selectedIndicator.indicator_name" id="name"
        name="name" [ngClass]="{ 'inputContainer--input__error': isError }" required>
    </div>
    <div class="tab-buttons">
      <button type="button" [class.active]="activeTab === 'Desassociação'"
        (click)="selectTab('Desassociação')">Desassociação</button>
      <button type="button" [class.active]="activeTab === 'Associação'"
        (click)="selectTab('Associação')">Associação</button>
    </div>

    <div *ngIf="activeTab === 'Desassociação'" class="checkboxContainer">
      <h4 class="checkboxContainer-title">Desassociação</h4>
      <app-loading-spinner *ngIf="isLoadingDesassociacao" message="A carregar SAIs..."></app-loading-spinner>
      <app-selectable-list *ngIf="!isLoadingDesassociacao" [items]="saisList"
        displayProperty="[service_name, activity_name]" (selectionChange)="onSaisSelectionChange($event)"
        [preSelectedItems]="selectedSaisIDs"></app-selectable-list>
    </div>

    <div *ngIf="activeTab === 'Associação'" class="checkboxContainer">
      <h4 class="checkboxContainer-title">Associação</h4>
      <app-loading-spinner *ngIf="isLoadingAssociacao" message="A carregar Associações..."></app-loading-spinner>
      <app-selectable-list *ngIf="!isLoadingAssociacao" [items]="servicesList" displayProperty="service_name"
        (selectionChange)="onServicesSelectionChange($event)"
        [preSelectedItems]="selectedServicesIDs"></app-selectable-list>
      <app-selectable-list *ngIf="!isLoadingAssociacao" [items]="activitiesList" displayProperty="activity_name"
        (selectionChange)="onActivitiesSelectionChange($event)"
        [preSelectedItems]="selectedActivitiesIDs"></app-selectable-list>
    </div>

    <button type="submit" class="forms-Button" [disabled]="!formValid()">Confirmar</button>
  </div>
</form>