@import "../../../../styles/_variables.scss";
@import "tailwindcss/base";

.logo {
  height: 50px;
}
.txtWhite {
  color: $fill-white;
}

.customBackground-svg {
  fill: $main-blue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
