<div class="w-full max-w-[2500px] z-[1000] whiteBG  sm:overflow-hidden">
<footer class="flex justify-between relative mb-auto max-h-99 mt-1">
  <div class="w-[40%]">
    <a href="http://www.portugal.gov.pt/pt.aspx" target="_blank">
      <img src="../../../../assets/images/imageFoot.png"
        alt="Escudo da República Portuguesa" class="logo">
    </a>
  </div>

  <div class="relative w-[35%] sm:w-[90%] z-[1] whiteTxt flex justify-center">
    <svg
      class="background-svg"
      xmlns="http://www.w3.org/2000/svg"
      version="1.1"
      width="100%"
      height="100%"
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
    >
      <polygon points="0,100 10,0 100,0 100,100"></polygon>
    </svg>

  
    <div class="content">
      <span>© 2024 Todos os Direitos Reservados a ATEC - Grupo 2</span>
    </div>
  </div>



  </footer>
  </div>
