@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.chartTitle{
    color: $fill-white;
    margin-bottom: 0;
}

.chart{
    background-color: $fill-white;
    padding: 0.5em;
    min-height: 400px;
}