
<form action="">
    <div class="loginContainer">
        <div class="inputContainer"> 
            <input type="text" class="loginInput" placeholder="Username">
            <span class="errorSpan"></span>
        </div>
        <div class="inputContainer"> 
            <input type="password" class="loginInput" placeholder="Password">
            <span class="errorSpan"></span>
        </div>
        <button type="submit" class="loginBtn">Login</button>
        <a href="" class="forgotPassLink">Forgot Password?</a>
    </div>
</form>


