@import '../../../../styles/_variables.scss';

.loginContainer {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding-inline: 4em;
  padding-top: 4em;
  padding-bottom: 2em;
  background-color: $main-blue;
  width: 50%;
  max-width: 500px;
  min-height: 300px; // Define a minimum height
  margin: 0 auto;
  margin-block: 11.5em;
  border-radius: 1em;
}

.loginContainer--error {
  border: $error-color 2px solid;
}

.forgotPassLink {
  cursor: pointer;;
  margin-top: 4em;
  color: white;
  text-decoration: none;
}

.forgotPassLink:hover {
  text-decoration: underline;
}

.loginBtn {
  margin-top: 1em;
  background-color: transparent;
  color: $fill-white;
  border: $fill-white 2px solid;
  text-transform: uppercase;
  width: 50%;
  /* use widht or padding-inline??? */
  padding-block: 0.4em;
  border-radius: 1em;
  cursor: pointer;
}

.loginBtn:active {

  background-color: $fill-white;
  color: $main-blue;
  border: $fill-white 2px solid;

}

.inputContainer {
  width: 100%; // Mantém o contêiner de input na largura total
  margin-bottom: 20px; // Espaçamento entre os inputs e o botão de login // Para posicionamento absoluto dos ícones ou mensagens de erro
}

.loginInput {
  width: 100%;
  box-sizing: border-box;
  caret-color: $fill-white;
  color: $fill-white;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $fill-white; 

  &::placeholder {
    color: $fill-white; // Suavizar a cor do placeholder para melhor visibilidade
  }

  &:focus {
    outline: none;
    border-bottom-color: $fill-white; // Manter a borda branca, mas destacar ao focar
  }
}
.loginInput--error,
.loginInput--error:focus {
  border-bottom: 2px solid $error-red; // Bordas vermelhas para erro
  caret-color: $error-red;
  color: $error-red;

  &::placeholder {
    color: $error-red;
  }
}

.errorSpan {
  margin-left: auto;
  color: $error-color; // Cor para mensagem de erro
  font-size: 0.75rem; // Tamanho menor para mensagem de erro
}

// .inputContainer {
//   width: 100%;
//   text-align: start;
// }



// .loginInput::placeholder {
//   color: $fill-white;
// }

// .loginInput:focus {
//   outline: none;
//   border: none;
//   border-bottom: $fill-white 2px solid;
//   caret-color: $fill-white;
// }

// .loginInput--error,
// .loginInput--error:focus {
//   outline: none;
//   border: none;
//   border-bottom: $error-red 2px solid;
//   caret-color: $error-red;
//   color: $error-red;
// }

// .loginInput--error::placeholder {
//   color: $error-red;
// }

// .errorSpan {
//   color: $error-color;
//   margin-left: auto;
// }

.loading-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.spinner {
  border: 16px solid #f3f3f3; // Light grey
  border-top: 16px solid #3498db; // Blue
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
