
<app-password-recup-modal [isVisible]="isModalVisible" (closeEvent)="closeModal()"></app-password-recup-modal>
<form (ngSubmit)="onLogin()">
  <div [ngClass]="{'loginContainer--error': errorMessage}" class="loginContainer">
    <!-- Input containers apenas visíveis quando isLoading for falso -->
      <div class="inputContainer" *ngIf="!isLoading">
        <input type="text" [ngClass]="{'loginInput--error': errorMessage}" class="loginInput" id="email" placeholder="Enter your email" [(ngModel)]="email" name="email"
          required>
          <span *ngIf="errorMessage" class="errorSpan">{{ errorMessage }}</span>
      </div>
      <div class="inputContainer" *ngIf="!isLoading">
        <input type="password" [ngClass]="{'loginInput--error': errorMessage}" class="loginInput" id="password" placeholder="Enter your password" [(ngModel)]="password"
          name="password" required>
          <span *ngIf="errorMessage" class="errorSpan">{{ errorMessage }}</span>
      </div>
      <button *ngIf="!isLoading" type="submit" class="loginBtn">Login</button>

    <!-- Spinner visível apenas quando isLoading for verdadeiro -->
    <div *ngIf="isLoading" class="loading-circle">
      <div class="spinner"></div>
    </div>

    <a *ngIf="!isLoading" class="forgotPassLink" (click)="openModal($event)">Forgot Password?</a>
  </div>
</form>

<div *ngIf="isModalVisible"><app-password-recup-modal></app-password-recup-modal></div>
