
<form #loginForm="ngForm" (ngSubmit)="onLogin()">
    <div class="loginContainer">
        <div class="inputContainer"> 
            <input type="text" class="loginInput" placeholder="Username" [(ngModel)]="email" name="email" required>
            <span class="errorSpan"></span>
        </div>
        <div class="inputContainer"> 
            <input type="password" class="loginInput" placeholder="Password" [(ngModel)]="password" name="password" required>
            <span class="errorSpan"></span>
        </div>
        <button type="submit" class="loginBtn">Login</button>
        <a href="" class="forgotPassLink">Forgot Password?</a>
    </div>
</form>


