@import '../../../../styles/_variables.scss';

.blueBG {
  background-color: $main-blue;
}

.redBorder {
  border: $error-color 2px solid;
}

.whiteTxt {
  color: $fill-white;
}

.loginInput {
  box-sizing: border-box;
  caret-color: $fill-white;
  color: $fill-white;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $fill-white; 

  &::placeholder {
    color: $fill-white; 
  }

  &:focus {
    outline: none;
    border-bottom-color: $fill-white;
  }
}

.loginInput--error,
.loginInput--error:focus {
  border-bottom: 2px solid $error-red;
  caret-color: $error-red;
  color: $error-red;

  &::placeholder {
    color: $error-red;
  }
}

.errorSpan {
  color: $error-color; 
  font-size: 0.75rem;
}

.loginBtn {
  background-color: transparent;
  color: $fill-white;
  border: $fill-white 2px solid;
}
.loginBtn:active {
  background-color: $fill-white;
  color: $main-blue;
  border: $fill-white 2px solid;
}

.forgotPassLink:hover {
  text-decoration: underline;
}

/* spinner blue background styles */
.loading-circle_forBlueBG {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: $fill-white;
  margin-block: 1em;
}

.spinner_forBlueBG {
  border: 8px solid $secondary-blue;
  border-top: 8px solid $fill-white; 
  border-radius: 50%;
  width: 50px; 
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}