@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';


.forms-container{
    @include forms-container();

    margin-block: 7em;
    border: none;
    width: 100%;
}

.forms-container--inputContainer{
    @include forms-container--inputContainer();
    gap: 1em;

    div{
        display: flex;
        align-items: center;
    }
}

.inputContainer--input{
    @include inputContainer--input();
}

.forms-Button{
    @include forms-Button();
    margin-top: 0;
}
