<div class="m-2 w-full">
  <app-filter [indicatorsInput]="true" [dataInsertedCheckbox]="false"
    (filterEvent)="handleFilterData($event)"></app-filter>

  <div class="tab-headers">
    <button class="tab-link" [class.active]="selectedTab === 'Producao'"
      (click)="selectTab('Producao')">Produção</button>
    <button class="tab-link" [class.active]="selectedTab === 'Metas'" (click)="selectTab('Metas')">Metas</button>
  </div>

  <div class="graphicsContainer">
    <div *ngIf="selectedTab === 'Producao'">
      <div class="flex w-full justify-around flex-wrap">
        <div class="w-full lg:w-1/2 p-2">
          <app-charts graphType="month" graphLabel="Produção" [filter]="filter"></app-charts>
        </div>
      </div>

      <div class="flex w-full justify-around flex-wrap">
        <div class="flex justify-around w-full lg:w-1/2 pt-2 pb-2 rounded-lg _whiteBG">
          <h2 class="_blueTxt">Diferença:</h2>
          <h2 class="_blueTxt">Variação:</h2>
        </div>
      </div>

      <div class="flex w-full justify-around flex-wrap">
        <div class="w-full lg:w-1/2 p-2">
          <app-charts graphType="lineChart" graphLabel="Variação currentYear" [filter]="filter"></app-charts>
        </div>
        <div class="w-full lg:w-1/2 p-2">
          <app-charts graphType="lineChart" graphLabel="Variação previousYear" [filter]="filter"></app-charts>
        </div>
      </div>

      <div class="flex w-full justify-around flex-wrap">
        <div class="w-full lg:w-1/2 p-2">
          <app-charts graphType="homologYear" graphLabel="Comparação anual" [filter]="filter"></app-charts>
        </div>
        <div class="w-full lg:w-1/2 p-2">
          <app-charts graphType="fiveYear" graphLabel="5 anos anteriores" [filter]="filter"></app-charts>
        </div>
      </div>
    </div>

    <div *ngIf="selectedTab === 'Metas'">
      <div class="flex w-full justify-around flex-wrap">
        <div class="w-full lg:w-1/2 p-2">
          <app-charts graphType="month" graphLabel="Produção" [filter]="filter"></app-charts>
        </div>
        <div class="w-full lg:w-1/2 p-2">
          <app-charts graphType="month" graphLabel="Metas" [filter]="filter"></app-charts>
        </div>
      </div>

      <div class="flex w-full justify-around flex-wrap">
        <div class="flex justify-around w-full lg:w-1/2 pt-2 pb-2 rounded-lg _whiteBG">
          <h2 class="_blueTxt">Diferença:</h2>
          <h2 class="_blueTxt">Variação:</h2>
        </div>
      </div>

      <div class="flex w-full justify-around flex-wrap">
        <div class="w-full lg:w-1/2 p-2">
          <app-charts graphType="year" graphLabel="Total anual" [filter]="filter"></app-charts>
        </div>
      </div>
    </div>
  </div>
</div>
