@import '../../../styles/_variables.scss';

:host {
    flex: 1;
    display: flex;
  }

.whiteTxt{
    color:$fill-white;
}
._whiteBG{
    background-color: $fill-white;
}

._blueTxt{
    margin:0;
    color: $main-blue;
}
.borderColorBlue{
    border-color: $main-blue;
}

.graphicsContainer2{
    background-color: $main-blue;
    box-sizing: border-box;
    border: none;
}

.tab-headers-wrapper{
    background-color: $darker-main-blue;
    font-size: 1.4em;
}
.tab-headers {
    display: flex;
    align-items: center;
    width: 30%;


} @media(max-width:600px){
    .tab-headers{
        width: 50%;
        margin-left: 4em;
    }
}

.tab-link {
    color: $fill-white;
    width: 100%;
    border: 2px solid $main-blue;
    background-color: $darker-main-blue;
    outline: none;
    cursor: pointer;
    padding: 1em;
    transition: 0.3s;

}

.tab-link:hover, .tab-link.active:hover {
    background-color: darken($main-blue, 10);
}

.tab-link.active {
    background-color: $main-blue;
}

/* To top button styles */
#toTopIcon {
    --lord-icon-primary: var(--main-dark-blue); 
  }

.toTopBtn {
    cursor: pointer;
    right: 50%; 
    bottom: -50px;
    transition: bottom 0.5s ease-in-out; 
}

.toTopBtnVisible {
    bottom: 30px; 
}

.toTopBtnHidden {
    bottom: -50px;
}
.text-red {
    color: $main-red;
    font-size: large;
    font-weight: bold;
}
.text-green {
    color: #2dcb2d;
    font-size: large;
    font-weight: bold;
}