<div class="m-2 w-full">
  <app-filter [indicatorsInput]="true" [dataInsertedCheckbox]="false"
    (filterEvent)="handleFilterData($event)"></app-filter>
 

 
  <div class="flex flex-col gap-4 mt-2 mx-auto w-[90%] pb-4 shadow-md graphicsContainer">
    <div class="tab-headers-wrapper">
      <div class="tab-headers">
        <button class="tab-link" [class.active]="selectedTab === 'Producao'"
          (click)="selectTab('Producao')">Produção</button>
        <button class="tab-link" [class.active]="selectedTab === 'Metas'" (click)="selectTab('Metas')">Metas</button>
      </div>
    </div>
   

    <div class="px-4" *ngIf="selectedTab === 'Producao'">
      <div class="flex w-full justify-around flex-wrap">
        <div class="w-full sm:w-[100%] p-2 ratio">
          <app-charts graphType="month" graphLabel="Produção" [filter]="filter"></app-charts>
        </div>
      </div>

      <div>
        <div class="flex w-full justify-center flex-wrap">
          <div class="flex justify-center w-full pt-2 pb-2 _whiteBG">
            <h1 class="_blueTxt">Variação de produção do periodo homologo</h1>
          </div>
        </div>
   
        <div class="flex w-full justify-around flex-wrap">
          <div class="w-full lg:w-1/2 ">
            <app-charts graphType="lineChart" graphLabel="Ano atual" [filter]="filter"></app-charts>
          </div>
          <div class="w-full lg:w-1/2">
            <app-charts graphType="lineChart" graphLabel="Ano anterior" [filter]="filter"></app-charts>
          </div>
        </div>
      </div>

      <div class="flex flex-col items-center w-full pt-2 pb-2 mt-2 _whiteBG">
        <h2 class="_blueTxt">{{numberToMonth(filter.month)}}, {{filter.year}}</h2>
        <div class="flex justify-around w-full lg:w-1/2 pt-2 pb-2 _whiteBG">
          <h2 class="_blueTxt">Diferença absoluta: {{ graphData?.variation_rate_homologous_abs }}</h2>
          <h2 class="_blueTxt">Diferença percentual(%): {{ graphData?.variation_rate_homologous }}</h2>

        </div>
<!--         <div class="flex justify-around w-full lg:w-1/2 pt-2 pb-2 _whiteBG border-l-2 borderColorBlue">
        </div> -->
      </div>
 
      <div class="flex w-full justify-around flex-wrap">
        <div class="w-full lg:w-1/2 py-2">
          <app-charts graphType="homologYear" graphLabel="Comparação anual" [filter]="filter"></app-charts>
        </div>
        <div class="w-full lg:w-1/2 py-2">
          <app-charts graphType="fiveYear" graphLabel="5 anos anteriores" [filter]="filter"></app-charts>
        </div>
      </div>
    </div>
 
    <div class="px-4" *ngIf="selectedTab === 'Metas'">
      <div class="flex w-full justify-center flex-wrap">
        <div class="flex justify-center w-full pt-2 pb-2 _whiteBG">
          <h1 class="_blueTxt">Variação conctratualizada do periodo homologo</h1>
        </div>
      </div>
      <div class="flex w-full justify-around flex-wrap">
        <div class="w-full lg:w-1/2 py-2">
          <app-charts graphType="month" graphLabel="Produção" [filter]="filter"></app-charts>
        </div>
        <div class="w-full lg:w-1/2 py-2">
          <app-charts graphType="month-metas" graphLabel="Metas" [filter]="filter"></app-charts>
        </div>
      </div>
 
      <div class="flex justify-center w-full pt-2 pb-2 _whiteBG">
        <div class="flex justify-around w-full lg:w-1/2 pt-2 pb-2 _whiteBG border-r-2 borderColorBlue">
          <h2 class="_blueTxt">Diferença absoluta: {{ graphData?.variation_rate_contractual_abs }}</h2>
        </div>
        <div class="flex justify-around w-full lg:w-1/2 pt-2 pb-2 _whiteBG border-l-2 borderColorBlue">
          <h2 class="_blueTxt ">Diferença percentual(%): {{ graphData?.variation_rate_contractual }}</h2>
        </div>
      </div>
 
      <div class="flex w-full justify-around flex-wrap">
        <div class="w-full lg:w-1/2 p-2">
          <app-charts graphType="year-metas" graphLabel="Comparação Anual" [filter]="filter"></app-charts>
        </div>
      </div>
    </div>
  </div>
</div>