@import '../../../../styles/_variables.scss';


.fixedCSS {

  //position: fixed; preciso de arranja soluçõa

  top: 0;
  z-index: 1000;
  /* Garante que a navbar fique acima de outros elementos */
  background-color: $fill-white;
  /* Define uma cor de fundo para garantir legibilidade */
  /* Opcional: uma linha para separar a navbar do conteúdo da página */
}


.navbar {
      position: relative;

  display: flex;
  margin-bottom: auto;
  max-width: 100%;
  max-height: 99px;
  overflow: hidden;
/*   min-width: 780px; */
}

/* i can make the logocontainer occupy space where i want with position absolute */
.logoSection {
  /*     top:0;
    left: 0;
    position: absolute; */
  display: flex;
  align-items: center;
  width: auto;
  background-color: transparent;
  color: $main-blue;
}

.logoContainer {
  width: 25%;
  margin-right: 1em;
}

/* .triangle {
  width: 0;
  height: 0;
  margin-left: -12.5em;
  border-left: 100px solid transparent;
  border-right: 100px solid $main-blue;
  border-top: 100px solid transparent;
} */

.navbarLinksContainer {
  padding-right: 1em;
  padding-left: 6em;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1em;
  width: 60%;
  background-color: $main-blue;
  color: $fill-white;
  clip-path: polygon(0 100%, 10% 0, 100% 0, 100% 100%);
}

.navBarLink {
  display: flex;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: $fill-white;
}

.navBarLink:hover {
  text-decoration: underline;
}

.loginContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 1em;
}

.icon {
  width: 35px;
  cursor: pointer;
}

.logoTitleContainer {

  h1,
  h3 {
    color:#494747 ;
    font-size: 1.25rem;
    margin: 0;
  }
}

.logo {

  height: 85px;
}

.unread{
  background-color: $secondary-blue;
  border-radius: 1em;
}
.unread:hover{
  background-color: $main-blue;
  border-radius: 1em;
}
