
<!-- 
    Este componente precisa de mudar o conteudo dinamicamente de acordo o tipo de user que
     faz login.
     
    È preciso criar uma janela popup que abre quando o icon de notifications e clicado
 -->
<header class="navbar">
    <div class="logoSection">
        <div class="logoContainer">
            <img src="../../../../assets/images/Logo.PNG" alt="">
        </div>
        <div class="logoTitleContainer">
            <h3>Unidade local de Sáude</h3>
            <h1>Tâmega e Sousa</h1>
        </div>

    </div>

    <div class="navbarLinksContainer">
        <div class="triangle"></div>
        <a routerLink="/home" routerLinkActive="Ativo" class="navBarLink">Home</a>

        <div class="loginContainer">
            <a routerLink="/login" routerLinkActive="Ativo" class="navBarLink">Login</a>
            <img src="../../../../assets/images/notificationIcon.png" class="icon" alt="Notifications icon">
        </div>
    </div>
    

</header>