
  
    <!-- sera mesmo preciso a 1ºDiv?????? -->

    <div class="fixedCSS relative">
<!--  <div class=" top-0 w-full z-50 bg-white "> -->
    <header class="navbar">
<!--     <header class="flex w-full max-h-24 overflow-hidden min-w-[780px]"> -->
      <div class="logoSection">
        <div class="logoContainer">
          <img class="logo" src="../../../../assets/images/novoLogo.png" alt="Logo">
          </div>
          <div class="logoTitleContainer">
            <h3>Unidade local de Saúde</h3>
            <h1>Tâmega e Sousa</h1>
          </div>
      </div>

      <div class="navbarLinksContainer">
      <!--  <div class="triangle"></div> -->
        <a routerLink="/home" class="navBarLink">Home</a>
        <a *ngIf="isLoggedIn() && getRole() === 'admin'" routerLinkActive="active-page" ariaCurrentWhenActive="page"routerLink="/consultUsers" class="navBarLink">Menu</a>
        <a *ngIf="isLoggedIn() && getRole() === 'coordenador'" routerLinkActive="active-page" ariaCurrentWhenActive="page" routerLink="/coordenadorHome0" class="navBarLink">Menu</a>
        <div class="loginContainer">
            <a *ngIf="!isLoggedIn()" routerLink="/login" routerLinkActive="active-page" ariaCurrentWhenActive="page" class="navBarLink">Login</a>
            <a *ngIf="isLoggedIn()" (click)="logout()" routerLinkActive="active-page" ariaCurrentWhenActive="page" class="navBarLink">Logout</a>
            
            <button *ngIf="isLoggedIn()" (click)="toggleNotifications()" matBadgePosition="above after" mat-raised-button color="primary" [matBadge]="unreadNotifications" matBadgeColor="warn">
              <img src="../../../../assets/images/notificationIcon.png" class="icon" alt="Notifications icon">
            </button>
        </div>
      </div>
  </header>

  <div *ngIf="isNotificationsOpen" class="absolute top-10 right-5 text-left z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
    <div class="py-1" role="none">
      <h2 class="block mb-0 px-4 py-2 text-sm text-gray-700">Notifications</h2>
      <div  *ngFor="let notification of allNotifications" (click)="markNotificationAsRead(notification)" class="px-4 mx-2 py-2 border-b border-gray-200 cursor-pointer" [class.unread]="!notification.isRead">
        <p class="text-sm">{{ notification.Details }}</p>
      </div>
    </div>
  </div>
  
  


</div>

