<div class="modal" [ngClass]="{'show': isVisible}" (click)="close()">

  <div class="relative flex flex-col my-20 mx-auto pb-10 w-[90%] p-10 sm:w-1/2 gap-5 sm:px-10 md:max-w-[500px] md:min-h-[300px] blueBG" 
  (click)="$event.stopPropagation()" [ngClass]="{ 'forms-container__error': isError }">
    <div class="flex items-center justify-between borderBtm">
      <h2 class="whiteTxt text-xl">Recuperação de senha</h2>
      <span class="close whiteTxt" (click)="close()">&times;</span>
    </div>
    <form (ngSubmit)="submitEmail()">
      <div class="">
        <mat-form-field class="w-full mb-4 blueBG">
          <mat-label class="blueTxt">Email:</mat-label>
          <input
            matInput
            id="email"
            [ngClass]="{ 'inputContainer--input__error': isError }"
            [(ngModel)]="email"
            name="email"
            required
          />
<!--           <span *ngIf="errorMessage" class="errorSpan">{{ errorMessage }}</span> -->
        </mat-form-field>

      </div>

      <button
      mat-raised-button
      type="submit"
      class="p-4 custom-button"
    >
      Login
    </button>    </form>
  </div>
</div>

