<div class="modal" [ngClass]="{'show': isVisible}" (click)="close()">
  <div
    class="relative flex flex-col my-20 mx-auto pb-10 w-[90%] p-10 sm:w-1/2 gap-5 sm:px-10 md:max-w-[500px] md:min-h-[300px] blueBG modalBorder"
    (click)="$event.stopPropagation()" [ngClass]="{ 'forms-container__error': isError }">
    <div class="flex items-center justify-between borderBtm">
      <h2 class="whiteTxt text-xl">Recuperação de senha</h2>
      <span class="close whiteTxt" (click)="close()">&times;</span>
    </div>
    <form (ngSubmit)="submitEmail()">
      <div class="">
        <mat-form-field class="w-full mb-4 blueBG">
          <mat-label class="blueTxt">Email:</mat-label>
          <input matInput id="email" [ngClass]="{ 'inputContainer--input__error': emailErrorMessage }"
            [(ngModel)]="email" name="email" required (blur)="validateEmailOnBlur()" />
          <span *ngIf="emailErrorMessage" class="errorSpan">{{ emailErrorMessage }}</span>
        </mat-form-field>
      </div>
      <button mat-raised-button *ngIf="!isLoading" type="submit" class="p-4 custom-button">Enviar</button>
      <div *ngIf="isLoading" class="loading-circle">
        <div class="spinner spinner_updateRecord-special"></div>
      </div>
    </form>
    <app-feedback [message]="feedbackMessage" [type]="feedbackType"></app-feedback>
  </div>
</div>