<section class="forms-container">
  <div class="forms-container--inputContainer">
    <div class="special">
      <div class="selectContainer">
        <label for="serviceId">Serviços:</label>
        <select [(ngModel)]="selectedServiceId" (change)="onServiceSelect($event)">
          <option *ngFor="let service of servicesList" [value]="service.id">{{ service.name }}</option>
        </select>
      </div>
      <div class="selectContainer">
        <label for="activityId">Atividade:</label>
        <select [(ngModel)]="selectedActivityId" (change)="onActivitySelect($event)" [disabled]="!selectedServiceId">
          <option *ngIf="activitiesList.length === 0" [value]="0">N/A</option>
          <option *ngFor="let activity of activitiesList" [value]="activity.id">{{ activity.name }}</option>
        </select>
      </div>
    </div>
    <div class="selectContainer" *ngIf="indicatorsInput">
      <label for="indicatorId">Indicadores:</label>
      <select [(ngModel)]="selectedIndicatorId" [disabled]="!selectedServiceId || (!selectedActivityId && selectedActivityId !== 0) ">
        <option *ngFor="let indicator of indicatorsList" [value]="indicator.id">{{ indicator.name }}</option>
      </select>
    </div>
  </div>
  <div class="forms-container--inputContainer">
    <div>
      <label for="month">Mês:</label>
      <input type="number" id="month" name="month" min="1" max="12" step="1" class="inputContainer--input"
        [(ngModel)]="filter.month"
        [disabled]="!selectedServiceId || (!selectedActivityId && selectedActivityId !== 0) || (!selectedIndicatorId && indicatorsInput)">
    </div>
    <div>
      <label for="year">Ano:</label>
      <input type="number" id="year" name="year" min="1900" max="2200" step="1" class="inputContainer--input"
        [(ngModel)]="filter.year"
        [disabled]="!selectedServiceId || (!selectedActivityId && selectedActivityId !== 0) || (!selectedIndicatorId && indicatorsInput)">
    </div>
    <button (click)="sendFilter()" class="forms-Button"
      [disabled]="!selectedServiceId || (!selectedActivityId && selectedActivityId !== 0) || (!selectedIndicatorId && indicatorsInput) || !filter.month || !filter.year">
      Procurar
    </button>
  </div>
  <div *ngIf="dataInsertedCheckbox" class="forms-container--inputContainer">
    <input type="checkbox" [disabled]="!selectedServiceId">
    <label>Mostrar indicadores com dados não inseridos</label>
  </div>
</section>
