@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';


.forms-container{
    box-sizing: border-box;
    border: none;
    background-color: $main-blue;
  
    &.forms-container__error{
      border: $error-color 7px solid;
    }
}

.whiteTxt{
    color: $fill-white;
}


.selectContainer{
    color: $fill-white;

    label{
        margin-right: 0.2em;
    }
    select{
        color: $main-blue;
        border-radius: 0.5em;
        padding-block: 0.2em;
        padding-inline: 0.5em;
        border: none;
        outline: $main-blue;
    }
}

.inputContainer--input{
    @include inputContainer--input();
}

.forms-Button{
    color:  $fill-white;
    border: $fill-white 2px solid;
    text-transform: uppercase;

    &:active{
      background-color: $fill-white;
      color:  $main-blue;
      border: $fill-white 2px solid;
    }
    margin-top: 0;
}
