@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.title{
    color: $fill-white;
    margin: 0;
}

.forms-container{
    @include forms-container();

    width: 50%;
    max-width: 500px;
}

.forms-container--inputContainer{
  @include forms-container--inputContainer();
}

.inputContainer--input{
    @include inputContainer--input();
}

.errorSpanMessage{
    @include errorSpanMessage();
}

.forms-Button{
    @include forms-Button();
}

.selectContainer{
    margin-left: auto;
    color: $fill-white;

    label{
        margin-right: 0.2em;
    }
    select{
        color: $main-blue;
        border-radius: 0.5em;
        padding-block: 0.2em;
        padding-inline: 0.5em;
        border: none;
        outline: $main-blue;
    }
}


.justify--end{
    align-self: flex-end;
}
