@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.forms-container {
  box-sizing: border-box;
  border: $secondary-blue 7px solid;
  border-radius: 1em;
  background-color: $main-blue;
  color: $fill-white;

  &.forms-container__error{
    border: $error-color 7px solid;
  }

  @media (max-width: 600px){
    width: 90%;
  }
}

.forms-container--title {
  color: $fill-white;
  margin: 0;
}

.forms-container--inputContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5em;
  color: $fill-white;
  width: 100%;
}

.inputContainer--input {
  /*   @include inputContainer--input(); */
  width: 100%;
  box-sizing: border-box;
  color: $main-blue;
  background-color: $fill-white;
  border-radius: 0.5em;
  padding-block: 0.5em;
  padding-inline: 1em;
  border: none;

  &::placeholder{
    color: $main-blue;
  }
  &:focus{
    outline: none;
    border: 2px solid $main-dark-blue;
    color: $main-dark-blue;
    caret-color: $main-dark-blue;
  }
  &:disabled{
    background-color: $secondary-blue;
    border: none;
  }
  &.inputContainer--input__error, .inputContainer--input__error:focus{
    outline: none;
    border: $error-red 2px solid;
    caret-color: $error-red;
    color: $error-red;
  }
  &.inputContainer--input__error::placeholder{
    color: $error-red;
  }
}

/* Implementar as mensagens de erro span */
/* .errorSpanMessage {
  @include errorSpanMessage();
} */

._inputFieldset {
  border: 1px solid $fill-white;
  padding: 1em;
  border-radius: 1em;
}

._inputFieldset--title{
  margin-top: -1.6em;
  background-color: $main-blue;
  padding-inline: 0.5em;
}

/* customize the input of type file */
input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 0.5em;
  cursor: pointer;
  background-color: $main-dark-blue;
  color: $fill-white;
  border-radius: 0.5em;
  border: 1px solid $fill-white;
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-file-upload:hover {
  background-color: $darker-main-blue;
  border-color: $main-dark-blue;
}

#file-chosen {
  color: $main-dark-blue;
}

.forms-Button {
  @include forms-Button();
}

/* Loading circle styles */
.loading-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: $main-blue;
  margin-block: 1em;
}

.spinner {
  border: 8px solid $secondary-blue;
  border-top: 8px solid $main-blue; 
  border-radius: 50%;
  width: 30px; 
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* checkbox section */
.checkboxContainer {
/*   @include selectOptionContainer(); */
display: flex;
flex-direction: column;
width: 100%;
min-height: 50px;
max-height: 300px;
overflow-y: auto;

scrollbar-width: thin;
scrollbar-color: $main-blue $fill-white;

box-sizing: border-box;
padding-inline: 1em;
background-color: $fill-white;
border-radius: 1em;
}

.checkboxContainer-title{
  margin-block: 0.5em;
  color: $main-blue;
}

/* Custom checkboxes */
.styled-checkbox {
  width: 15px;
  height: 15px;
  appearance: none; 
  background-color: transparent; 
  border: 2px solid $main-blue; 
  border-radius: 4px; 
  cursor: pointer; 
  position: relative; 
}
.styled-checkbox:checked {
  background-color: $main-blue; 
}

.styled-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkboxContainer--option{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  color: $main-blue;
  border-bottom: solid 1px $main-blue;
  margin-block: 1em;
}

.icon {
  @include icon();
}



