<!-- Formulário para criação ou edição de serviços com abas para atividades e indicadores -->
<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="flex flex-col justify-center w-[80%] max-w-500px p-8 rounded-xl gap-4 mx-auto my-4 
   shadow-lg forms-container">

    <h2 class="text-lg">{{ formsAction === 'create' ? 'Criar' : 'Editar' }} Serviço</h2>
    <div *ngIf="isLoadingActivities || isSubmitting" class="loading-circle">
      <div class="spinner"></div>
      <p>{{ isSubmitting ? 'Adicionando' : 'Carregando' }} serviço...</p>
    </div>
    <div class="">
      <label for="service_name">Nome:</label>
      <input type="text" id="service_name" formControlName="service_name" placeholder="Nome do serviço"
        class="inputContainer--input">
    </div>

    <div class="">
      <label for="description">Descrição:</label>
      <textarea id="description" formControlName="description" placeholder="Descrição do serviço..."
        class="inputContainer--input"></textarea>
    </div>

    <div class="mt-4">
      <label>Imagem:</label>
      <label class="custom-file-upload">Escolher ficheiro
        <input type="file" (change)="onFileSelected($event)">
      </label>
      <div id="file-chosen">{{ form.get('imageUrl')?.value ? 'Imagem carregada' : 'Ficheiro não escolhido' }}</div>
    </div>

    <!-- Abas para seleção de Atividades e Indicadores -->
    <div class="flex gap-4 mt-4">
      <button type="button" (click)="openTab('Activities')" class="py-2 px-4 bg-blue-500 rounded-lg">Atividades</button>
      <button type="button" (click)="openTab('Indicators')"
        class="py-2 px-4 bg-blue-500 rounded-lg">Indicadores</button>
    </div>

    <div id="Activities" *ngIf="activeTab === 'Activities'" class="mt-4">
      <h4>Associar atividades:</h4>
      <div *ngFor="let activity of allActivities; trackBy: trackByIndex" class="mt-2">
        <input type="checkbox" [checked]="isSelected(activity.id)" (click)="toggleActivitySelection(activity.id)">
        <label>{{ activity.activity_name }}</label>
      </div>
    </div>

    <div id="Indicators" *ngIf="activeTab === 'Indicators'" class="mt-4">
      <h4>Associar indicadores:</h4>
      <div *ngIf="allIndicators.length > 0; else noIndicators">
        <div *ngFor="let indicator of allIndicators; trackBy: trackByIndex" class="mt-2">
          <div *ngIf="indicator.id !== undefined">
            <input type="checkbox" [checked]="isSelectedIndicator(indicator.id)"
              (click)="toggleIndicatorSelection(indicator.id)">
            <label>{{ indicator.indicator_name }}</label>
          </div>
        </div>
      </div>
      <ng-template #noIndicators>
        <p>Nenhum indicador para mostrar.</p>
      </ng-template>
    </div>
    
    <button type="submit" class="mt-4 bg-blue-500 text-white py-2 px-4 rounded-lg"
      [disabled]="isLoadingActivities || !form.valid || selectedIndicatorIds.length === 0">Adicionar</button>
  </div>
</form>
<app-notification [message]="notificationMessage" [type]="notificationType"></app-notification>
