@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.notification {
  position: fixed;
  top: 4em;
  right: 2em;
  padding: 1em;
  z-index: 1000;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.success {
    background-color: $success-color;
    color: white;
  }

  &.error {
    background-color: $error-color;
    color: white;
  }

  button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    margin-left: 1em;
  }
}
