<section class="forms-container">
  <div class="selectOptionContainer">
    <div class="headingSection">
      <h2>Lista de Records</h2>
      <img src="../../../assets/images/icons8-plus-30.png" class="icon" alt="Edit" (click)="navigateToCreateRecord()">
  </div>
    <form [formGroup]="indicatorForms[indicator.id]" *ngFor="let indicator of indicators; trackBy: trackByIndex"
      class="selectOptionContainer--option">
      <p>{{ indicator.name }}</p>
      <input class="inputContainer--input" formControlName="indicatorValue" [disabled]="indicator.isInserted"
        (input)="onValueChange(indicator, $event)">
      <button type="button" [disabled]="!indicatorForms[indicator.id].valid && !indicator.isInserted"
        class="forms-Button" (click)="toggleEdit(indicator)">
        {{ !indicator.isInserted ? 'Atualizar' : 'Editar' }}
      </button>
    </form>
  </div>
</section>
