@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.whiteText{
  color:$fill-white;
}

.darkBlueBG{
  background-color: $main-blue;
}

.borderBlue{
  border: $main-blue 10px solid;
  border-radius: 2em;
}
.headingSection {
  
  background-color: $fill-white;
  color: $main-blue;
  justify-content: center;
  text-align: center;
  font-size: 1.8em;

  img {
    width: 25px;
    height: 25px;
    margin-left: auto;
  }
}

.forms-container{
  box-sizing: border-box;
  background-color: $fill-white;
  border: $main-blue 10px solid;
/*   height: 100%;
 *//*   border-top-left-radius: 1em;
  border-top-right-radius: 1em; */
  max-height: 70vh;

  &.forms-container__error {
    border: $error-color 10px solid;
  }
  @media (max-width: 600px) {
    overflow-y: visible;
    height: auto;
  }
}

.forms-container--inputContainer {
  @include forms-container--inputContainer();
}

.inputContainer--input {
  width: 100%;
  box-sizing: border-box;
  color: black;
  background-color: $fill-white;
  border-radius: 0.5em;
  padding-block: 0.5em;
  padding-inline: 1em;
  border: none;

  &::placeholder{
    color: $main-blue;
  }
  &:focus{
    outline: none;
    border: none;
    caret-color: $main-blue;
  }
  &:disabled{
    background-color: darken($lighter-main-blue,10);
    border: none;
  }
  &.inputContainer--input__error, .inputContainer--input__error:focus{
    outline: none;
    border: $error-red 2px solid;
    caret-color: $error-red;
    color: $error-red;
  }
  &.inputContainer--input__error::placeholder{
    color: $error-red;
  }
}

.selectOptionContainer--option {
  @include selectOptionContainer--option();
  align-items: center;
}

.forms-Button {
  @include forms-Button();
  color: $main-blue;
  border: $main-blue 2px solid;
  text-transform: uppercase;
  /* use widht or padding-inline??? */
  margin-top: 0;
}
.forms-Button.isEditing{
  background-color: $main-dark-blue;
  border: $main-blue 2px solid;
  color: $fill-white;
  margin-left: 2.3em; //para ajustar o positionamento do botao para alinhar com os outros que n estao com a classe isEditing

  animation: scale-animation 1.5s ease-in-out infinite;
}

@keyframes scale-animation {
  0%, 100% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.05); 
  }
}

.icon {
  @include icon();
}

.__remove-paragraphMB {
  p {
    margin-bottom: 0;
  }
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.5em;

  th {
    background-color: $main-dark-blue; // Use a cor desejada
    color: $fill-white; // Use a cor desejada
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: $lighter-main-blue;
  }
}

.blueBtnBorder{
  border-bottom: solid 2 px $main-dark-blue;
}

