@import '../../../../styles/_variables.scss';
@import '../../../../styles/_mixins.scss';

.headingSection{
    display: flex;
    color: $main-blue;

    img{
        width: 25px;
        height: 25px;
        margin-left: auto;
    }
}

.forms-container{
    @include forms-container();

    margin-block: 0em;
    border: 10px solid $main-blue;
    background-color: $fill-white;
    width: 100%;
}

.forms-container--inputContainer{
    @include forms-container--inputContainer();
}

.inputContainer--input{
    @include inputContainer--input();
    width: 50%;
}

.selectOptionContainer--option{
    @include selectOptionContainer--option();
    align-items: center;
}

.forms-Button{
    @include forms-Button();
    color:  $main-blue;
    border: $main-blue 2px solid;
    text-transform: uppercase;
    width: 20%; /* use widht or padding-inline??? */
    margin-top: 0;
}

.icon{
    @include icon();
}

.__remove-paragraphMB{
    p{
        margin-bottom: 0;
    }
}
